<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SiteSqlServer" value="Data Source=localhost;Initial Catalog=GTSData;User Id=gtsdata;Password=L@ughton1979!"/>
    <add key="ServiceName" value="Profile Service" />
    <add key="ServiceInterval" value="10000" />
    <add key="Debug" value="true" />
  </appSettings>
</configuration>