
CREATE PROCEDURE [dbo].[GTS_CarCount_Insert]
AS
	INSERT INTO [dbo].[GTS_CarCount] ([Id], [Country], [CountryRank], [RegionRank], [Value], [EntryDate])
	SELECT 
	[Id],
	[CountryName],
	RANK() OVER(PARTITION BY [CountryName] ORDER BY [CarCount] DESC, [EntryDate] ASC) AS [CountryRank],
	RANK() OVER(PARTITION BY c.[RegionId] ORDER BY [CarCount] DESC, [EntryDate] ASC) AS [RegionRank],
	[CarCount],
	[EntryDate]
	
	FROM		[dbo].[GTS_ProfileStats]	ps

	JOIN		[dbo].[GTS_Profiles]			p
		ON		ps.[ProfileId]			=	p.[ProfileId]

	JOIN		[dbo].[GTS_Countries]			c
		ON		p.[CountryId]			=	c.[CountryId]

	WHERE		[CarCount]			>	0
	ORDER BY	[CarCount] DESC, [EntryDate] ASC


GO
