CREATE TABLE [dbo].[GTS_CombinedRatings](
	[BracketId] [bigint] IDENTITY(1,1) NOT NULL,
	[DR] [bigint] NOT NULL CONSTRAINT [DF_GTSCOMBINEDRATINGS_DR]  DEFAULT ((0)),
	[SR] [bigint] NOT NULL CONSTRAINT [DF_GTSCOMBINEDRATINGS_SR]  DEFAULT ((0)),
	[PlayerCount] [bigint] NOT NULL CONSTRAINT [DF_GTSCOMBINEDRATINGS_PLAYERCOUNT]  DEFAULT ((0)),
	[Percentage] [decimal](8, 4) NOT NULL CONSTRAINT [DF_GTSCOMBINEDRATINGS_PERCENTAGE]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSCOMBINEDRATINGS] PRIMARY KEY CLUSTERED 
(
	[BracketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
