CREATE TABLE [dbo].[GTS_RankedRaceTimes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TrackId] [bigint] NOT NULL,
	[CategoryId] [bigint] NOT NULL,
	[Score] [bigint] NOT NULL,
	[ProfileId] [bigint] NOT NULL,
	[WorldCount] [bigint] NOT NULL,
	[WorldRank] [bigint] NOT NULL,
	[RegionCount] [bigint] NOT NULL,
	[RegionRank] [bigint] NOT NULL,
	[CountryCount] [bigint] NOT NULL,
	[CountryRank] [bigint] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_GTSRANKEDRACETIMES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [GTS_RankedRaceTimes_ProfileId_4A410] ON [dbo].[GTS_RankedRaceTimes]
(
	[ProfileId] ASC
)
INCLUDE ( 	[TrackId],
	[CategoryId],
	[Score],
	[WorldCount],
	[WorldRank],
	[RegionCount],
	[RegionRank],
	[CountryCount],
	[CountryRank],
	[CreateTime]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_RankedRaceTimes_WorldRank_16951] ON [dbo].[GTS_RankedRaceTimes]
(
	[WorldRank] ASC
)
INCLUDE ( 	[TrackId],
	[CategoryId],
	[Score],
	[ProfileId],
	[CreateTime]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GTS_RankedRaceTimes] ADD  CONSTRAINT [DF_GTSRANKEDRACETIMES_TRACKID]  DEFAULT ((0)) FOR [TrackId]
GO
ALTER TABLE [dbo].[GTS_RankedRaceTimes] ADD  CONSTRAINT [DF_GTSRANKEDRACETIMES_CATEGORYID]  DEFAULT ((0)) FOR [CategoryId]
GO
ALTER TABLE [dbo].[GTS_RankedRaceTimes] ADD  CONSTRAINT [DF_GTSRANKEDRACETIMES_SCORE]  DEFAULT ((0)) FOR [Score]
GO
ALTER TABLE [dbo].[GTS_RankedRaceTimes] ADD  CONSTRAINT [DF_GTSRANKEDRACETIMES_PROFILEID]  DEFAULT ((0)) FOR [ProfileId]
GO
ALTER TABLE [dbo].[GTS_RankedRaceTimes] ADD  CONSTRAINT [DF_GTSRANKEDRACETIMES_WORLDCOUNT]  DEFAULT ((0)) FOR [WorldCount]
GO
ALTER TABLE [dbo].[GTS_RankedRaceTimes] ADD  CONSTRAINT [DF_GTSRANKEDRACETIMES_WORLDRANK]  DEFAULT ((0)) FOR [WorldRank]
GO
ALTER TABLE [dbo].[GTS_RankedRaceTimes] ADD  CONSTRAINT [DF_GTSRANKEDRACETIMES_REGIONCOUNT]  DEFAULT ((0)) FOR [RegionCount]
GO
ALTER TABLE [dbo].[GTS_RankedRaceTimes] ADD  CONSTRAINT [DF_GTSRANKEDRACETIMES_REGIONRANK]  DEFAULT ((0)) FOR [RegionRank]
GO
ALTER TABLE [dbo].[GTS_RankedRaceTimes] ADD  CONSTRAINT [DF_GTSRANKEDRACETIMES_COUNTRYCOUNT]  DEFAULT ((0)) FOR [CountryCount]
GO
ALTER TABLE [dbo].[GTS_RankedRaceTimes] ADD  CONSTRAINT [DF_GTSRANKEDRACETIMES_COUNTRYRANK]  DEFAULT ((0)) FOR [CountryRank]
GO
ALTER TABLE [dbo].[GTS_RankedRaceTimes] ADD  CONSTRAINT [DF_GTSRANKEDRACETIMES_CREATETIME]  DEFAULT ('1753-01-01') FOR [CreateTime]
GO
ALTER TABLE [dbo].[GTS_RankedRaceTimes] ADD  CONSTRAINT [FK_GTSRANKEDRACETIMES_CATEGORYID] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[GTS_CarCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[GTS_RankedRaceTimes] CHECK CONSTRAINT [FK_GTSRANKEDRACETIMES_CATEGORYID]
GO
ALTER TABLE [dbo].[GTS_RankedRaceTimes] ADD  CONSTRAINT [FK_GTSRANKEDRACETIMES_PROFILEID] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[GTS_Profiles] ([ProfileId])
GO
ALTER TABLE [dbo].[GTS_RankedRaceTimes] CHECK CONSTRAINT [FK_GTSRANKEDRACETIMES_PROFILEID]
GO
ALTER TABLE [dbo].[GTS_RankedRaceTimes] ADD  CONSTRAINT [FK_GTSRANKEDRACETIMES_TRACKID] FOREIGN KEY([TrackId])
REFERENCES [dbo].[GTS_Tracks] ([Id])
GO
ALTER TABLE [dbo].[GTS_RankedRaceTimes] CHECK CONSTRAINT [FK_GTSRANKEDRACETIMES_TRACKID]
GO
