CREATE TABLE [dbo].[GTS_RaceCalendar](
	[RaceCalendarId] [bigint] IDENTITY(1,1) NOT NULL,
	[RaceHeaderId] [bigint] NOT NULL CONSTRAINT [DF_GTSRACECALENDAR_RACEHEADERID]  DEFAULT ((0)),
	[EventCalendarId] [bigint] NOT NULL CONSTRAINT [DF_GTSRACECALENDAR_EVENTCALENDARID]  DEFAULT ((0)),
	[StartTime] [datetime] NOT NULL CONSTRAINT [DF_GTSRACECALENDAR_STARTTIME]  DEFAULT ('1753-01-01'),
	[EndTime] [datetime] NOT NULL CONSTRAINT [DF_GTSRACECALENDAR_ENDTIME]  DEFAULT ('1753-01-01'),
 CONSTRAINT [PK_GTSRACECALENDAR] PRIMARY KEY CLUSTERED 
(
	[RaceCalendarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [GTS_RaceCalendar_EventCalendarId_7EFEA] ON [dbo].[GTS_RaceCalendar]
(
	[EventCalendarId] ASC
)
INCLUDE ( 	[RaceHeaderId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_RaceCalendar_EventCalendarId_FD64F] ON [dbo].[GTS_RaceCalendar]
(
	[EventCalendarId] ASC
)
INCLUDE ( 	[RaceHeaderId],
	[StartTime]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_RaceCalendar_RaceHeaderId_3BC96] ON [dbo].[GTS_RaceCalendar]
(
	[RaceHeaderId] ASC
)
INCLUDE ( 	[EventCalendarId],
	[StartTime],
	[EndTime]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_RaceCalendar_RaceHeaderId_4D2E6] ON [dbo].[GTS_RaceCalendar]
(
	[RaceHeaderId] ASC
)
INCLUDE ( 	[RaceCalendarId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_RaceCalendar_RaceHeaderId_DCE53] ON [dbo].[GTS_RaceCalendar]
(
	[RaceHeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_RaceCalendar_RaceHeaderId_EventCalendarId_F609B] ON [dbo].[GTS_RaceCalendar]
(
	[RaceHeaderId] ASC,
	[EventCalendarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_RaceCalendar_StartTime_1EB02] ON [dbo].[GTS_RaceCalendar]
(
	[StartTime] ASC
)
INCLUDE ( 	[RaceHeaderId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_RaceCalendar_StartTime_EndTime_60950] ON [dbo].[GTS_RaceCalendar]
(
	[StartTime] ASC,
	[EndTime] ASC
)
INCLUDE ( 	[RaceHeaderId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GTS_RaceCalendar] ADD  CONSTRAINT [FK_GTSRACECALENDAR_RACEHEADERID] FOREIGN KEY([RaceHeaderId])
REFERENCES [dbo].[GTS_RaceHeader] ([RaceHeaderId])
GO
ALTER TABLE [dbo].[GTS_RaceCalendar] CHECK CONSTRAINT [FK_GTSRACECALENDAR_RACEHEADERID]
GO
