CREATE TABLE [dbo].[GTS_EventDateTimes](
	[TimeId] [bigint] IDENTITY(1,1) NOT NULL,
	[RegionId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDATETIMES_REGIONID]  DEFAULT ((0)),
	[RoundNumber] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDATETIMES_ROUNDNUMBER]  DEFAULT ((0)),
	[QualifyingStartDay] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDATETIMES_STARTDAY]  DEFAULT ((0)),
	[QualifyingStartTime] [time](7) NOT NULL CONSTRAINT [DF_GTSEVENTDATETIMES_STARTTIME]  DEFAULT ('00:00:00'),
	[QualifyingEndDay] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDATETIMES_ENDDAY]  DEFAULT ((0)),
	[QualifyingEndTime] [time](7) NOT NULL CONSTRAINT [DF_GTSEVENTDATETIMES_ENDTIME]  DEFAULT ('00:00:00'),
	[FirstEventDay] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDATETIMES_FIRSTEVENTDAY]  DEFAULT ((0)),
	[FirstEventTime] [time](7) NOT NULL CONSTRAINT [DF_GTSEVENTDATETIMES_FIRSTEVENTTIME]  DEFAULT ('00:00:00'),
	[LastEventDay] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDATETIMES_LASTEVENTDAY]  DEFAULT ((0)),
	[LastEventTime] [time](7) NOT NULL CONSTRAINT [DF_GTSEVENTDATETIMES_LASTEVENTTIME]  DEFAULT ('00:00:00'),
	[ChannelId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDATETIMES_CHANNELID]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSEVENTDATETIMES] PRIMARY KEY CLUSTERED 
(
	[TimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
