CREATE TABLE [dbo].[GTS_EventHeader](
	[EventHeaderId] [bigint] IDENTITY(1,1) NOT NULL,
	[EventCalendarId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTHEADER_EVENTCALENDARID]  DEFAULT ((0)),
	[RegionId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTHEADER_REGIONID]  DEFAULT ((0)),
	[ChannelId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTHEADER_CHANNELID]  DEFAULT ((0)),
	[StartTime] [datetime] NOT NULL CONSTRAINT [DF_GTSEVENTHEADER_STARTTIME]  DEFAULT ('1753-01-01'),
	[EndTime] [datetime] NOT NULL CONSTRAINT [DF_GTSEVENTHEADER_ENDTIME]  DEFAULT ('1753-01-01'),
	[EventId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTHEADER_EVENTID]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSEVENTHEADER] PRIMARY KEY CLUSTERED 
(
	[EventHeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [GTS_EventHeader_ChannelId_StartTime_E0F17] ON [dbo].[GTS_EventHeader]
(
	[ChannelId] ASC,
	[StartTime] ASC
)
INCLUDE ( 	[EventHeaderId],
	[EventCalendarId],
	[RegionId],
	[EndTime],
	[EventId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventHeader_EndTime_EventId_5B251] ON [dbo].[GTS_EventHeader]
(
	[EndTime] ASC,
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventHeader_EventCalendarId_E186C] ON [dbo].[GTS_EventHeader]
(
	[EventCalendarId] ASC
)
INCLUDE ( 	[EventHeaderId],
	[RegionId],
	[ChannelId],
	[StartTime],
	[EndTime],
	[EventId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventHeader_EventId_418DF] ON [dbo].[GTS_EventHeader]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventHeader_RegionId_257E1] ON [dbo].[GTS_EventHeader]
(
	[RegionId] ASC
)
INCLUDE ( 	[EventHeaderId],
	[EventCalendarId],
	[ChannelId],
	[StartTime],
	[EndTime],
	[EventId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventHeader_RegionId_8BBA2] ON [dbo].[GTS_EventHeader]
(
	[RegionId] ASC
)
INCLUDE ( 	[EventId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventHeader_RegionId_ChannelId_StartTime_B2805] ON [dbo].[GTS_EventHeader]
(
	[RegionId] ASC,
	[ChannelId] ASC,
	[StartTime] ASC
)
INCLUDE ( 	[EventHeaderId],
	[EventCalendarId],
	[EndTime],
	[EventId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventHeader_RegionId_EndTime_EventId_B88D2] ON [dbo].[GTS_EventHeader]
(
	[RegionId] ASC,
	[EndTime] ASC,
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventHeader_RegionId_StartTime_0C794] ON [dbo].[GTS_EventHeader]
(
	[RegionId] ASC,
	[StartTime] ASC
)
INCLUDE ( 	[EventHeaderId],
	[EventCalendarId],
	[ChannelId],
	[EndTime],
	[EventId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventHeader_StartTime_096D0] ON [dbo].[GTS_EventHeader]
(
	[StartTime] ASC
)
INCLUDE ( 	[EventHeaderId],
	[EventCalendarId],
	[RegionId],
	[ChannelId],
	[EndTime],
	[EventId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventHeader_StartTime_43448] ON [dbo].[GTS_EventHeader]
(
	[StartTime] ASC
)
INCLUDE ( 	[RegionId],
	[EndTime],
	[EventId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventHeader_StartTime_E492C] ON [dbo].[GTS_EventHeader]
(
	[StartTime] ASC
)
INCLUDE ( 	[ChannelId],
	[EndTime],
	[EventId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventHeader_StartTime_EndTime_2C610] ON [dbo].[GTS_EventHeader]
(
	[StartTime] ASC,
	[EndTime] ASC
)
INCLUDE ( 	[RegionId],
	[EventId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventHeader_StartTime_FC125] ON [dbo].[GTS_EventHeader]
(
	[StartTime] ASC
)
INCLUDE ( 	[RegionId],
	[EventId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
