CREATE TABLE [dbo].[GTS_DataPullRequests](
	[EntryId] [bigint] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](32) NOT NULL CONSTRAINT [DF_GTSDATAPULLREQUESTS_SERVICENAME]  DEFAULT (''),
	[RequestCount] [bigint] NOT NULL CONSTRAINT [DF_GTSDATAPULLREQUESTS_REQUESTCOUNT]  DEFAULT ((0)),
	[RequestBytes] [bigint] NOT NULL CONSTRAINT [DF_GTSDATAPULLREQUESTS_REQUESTBYTES]  DEFAULT ((0)),
	[LastRequest] [datetime] NOT NULL CONSTRAINT [DF_GTSDATAPULLREQUESTS_LASTREQUEST]  DEFAULT ('1753-01-01'),
 CONSTRAINT [PK_GTSDATAPULLREQUESTS] PRIMARY KEY CLUSTERED 
(
	[EntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
