CREATE TABLE [dbo].[GTS_NewProfileNumbers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProfileNumber] [bigint] NOT NULL CONSTRAINT [DF_GTSNEWPROFILENUMBERS_PROFILENUMBER]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSNEWPROFILENUMBERS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
