CREATE TABLE [dbo].[GTS_SkyTypes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SkyType] [nvarchar](16) NOT NULL CONSTRAINT [DF_GTSSKYTYPES_SKYTYPE]  DEFAULT (''),
 CONSTRAINT [PK_SKYTYPES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
