CREATE TABLE [dbo].[GTS_SportsmanshipRating](
	[ClassId] [bigint] NOT NULL CONSTRAINT [DF_GTSSPORTSMANSHIPRATING_CLASSID]  DEFAULT ((0)),
	[PlayerCount] [bigint] NOT NULL CONSTRAINT [DF_GTSSPORTSMANSHIPRATING_PLAYERCOUNT]  DEFAULT ((0)),
	[Percentage] [decimal](8, 4) NOT NULL CONSTRAINT [DF_GTSSPORTSMANSHIPRATING_PERCENTAGE]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSSPORTSMANSHIPRATING] PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
