CREATE TABLE [dbo].[GTS_WinsPerEntry](
	[Rank] [bigint] IDENTITY(1,1) NOT NULL,
	[Id] [nvarchar](32) NOT NULL CONSTRAINT [DF_GTSWINSPERENTRY_ID]  DEFAULT (''),
	[Country] [nvarchar](32) NOT NULL CONSTRAINT [DF_GTSWINSPERENTRY_COUNTRY]  DEFAULT (''),
	[CountryRank] [bigint] NOT NULL CONSTRAINT [DF_GTSWINSPERENTRY_COUNTRYRANK]  DEFAULT ((0)),
	[Value] [decimal](8, 4) NOT NULL CONSTRAINT [DF_GTSWINSPERENTRY_VALUE]  DEFAULT ((0)),
	[Wins] [bigint] NOT NULL CONSTRAINT [DF_GTSWINSPERENTRY_WINS]  DEFAULT ((0)),
	[Races] [bigint] NOT NULL CONSTRAINT [DF_GTSWINSPERENTRY_RACES]  DEFAULT ((0)),
	[EntryDate] [datetime] NOT NULL CONSTRAINT [DF_GTSWINSPERENTRY_ENTRYDATE]  DEFAULT ('1753-01-01'),
	[RegionRank] [bigint] NOT NULL CONSTRAINT [DF_GTSWINSPERENTRY_REGIONRANK]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSWINSPERENTRY] PRIMARY KEY CLUSTERED 
(
	[Rank] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [GTS_WinsPerEntry_Country_CountryRank_A4AFC] ON [dbo].[GTS_WinsPerEntry]
(
	[Country] ASC,
	[CountryRank] ASC
)
INCLUDE ( 	[Id],
	[Value],
	[Wins],
	[Races],
	[EntryDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_WinsPerEntry_Id_2C00A] ON [dbo].[GTS_WinsPerEntry]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
