CREATE TABLE [dbo].[GTS_TimeOfDay](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TimeOfDay] [nvarchar](12) NOT NULL CONSTRAINT [DF_GTSTIMEOFDAY_TIMEOFDAY]  DEFAULT (''),
 CONSTRAINT [PK_GTSTIMEOFDAY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
