CREATE TABLE [dbo].[GTS_EventDetail](
	[EventDetailId] [bigint] IDENTITY(1,1) NOT NULL,
	[RegionId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_REGIONID]  DEFAULT ((0)),
	[EventId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_EVENTID]  DEFAULT ((0)),
	[ChampionshipId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_CHAMPIONSHIPID]  DEFAULT ((0)),
	[SeasonId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_SEASONID]  DEFAULT ((0)),
	[RoundId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_ROUNDID]  DEFAULT ((0)),
	[ChampionshipColorId] [nvarchar](8) NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_CHAMPIONSHIPCOLORID]  DEFAULT (''),
	[GameModeId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_GAMEMODEID]  DEFAULT ((0)),
	[EventTypeId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_EVENTTYPEID]  DEFAULT ((0)),
	[SportsModeId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_SPORTSMODEID]  DEFAULT ((0)),
	[TitleId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_TITLEID]  DEFAULT ((0)),
	[OneLineTitle] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_ONELINETITLEID]  DEFAULT ((0)),
	[DescriptionId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_DESCRIPTIONID]  DEFAULT ((0)),
	[RegistrationNotice] [nvarchar](400) NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_REGISTRATIONNOTICE]  DEFAULT (''),
	[EventTargetId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_EVENTTARGETID]  DEFAULT ((0)),
	[EventRestrict] [nvarchar](400) NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_EVENTRESTRICT]  DEFAULT (''),
	[LogoImagePathId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_LOGOIMAGEPATHID]  DEFAULT ((0)),
	[FlyerImagePathId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_FLYERIMAGEPATHID]  DEFAULT ((0)),
	[BehaviorDamageTypeId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_BEHAVIORDAMAGETYPEID]  DEFAULT ((0)),
	[BehaviorSlipStreamTypeId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_BEHAVIORSLIPSTREAMTYPEID]  DEFAULT ((0)),
	[BoostLevel] [nvarchar](400) NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_BOOSTLEVEL]  DEFAULT (''),
	[LowMuTypeId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_LOWMUTYPEID]  DEFAULT ((0)),
	[EntryMax] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_ENTRYMAX]  DEFAULT ((0)),
	[StartTypeId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_STARTTYPEID]  DEFAULT ((0)),
	[ConsumeFuel] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_CONSUMEFUEL]  DEFAULT ((0)),
	[ConsumeTire] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_CONSUMETIRE]  DEFAULT ((0)),
	[RaceLimitLaps] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_RACELIMITLAPS]  DEFAULT ((0)),
	[RaceLimitMinutes] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_RACELIMITMINUTES]  DEFAULT ((0)),
	[PitConstraint] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_PITCONSTRAINT]  DEFAULT ((0)),
	[NeedCompoundUse] [nvarchar](400) NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_NEEDCOMPOUNDUSE]  DEFAULT (''),
	[LimitFuelCapacity] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_LIMITFUELCAPACITY]  DEFAULT ((0)),
	[BoardId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_BOARDID]  DEFAULT ((0)),
	[LimitTireF] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_LIMITTIREF]  DEFAULT ((0)),
	[NeedTireF] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_NEEDTIREF]  DEFAULT ((0)),
	[UseBOP] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_USEBOP]  DEFAULT ((0)),
	[Tuning] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_TUNING]  DEFAULT ((0)),
	[NeedDriverClass] [nvarchar](400) NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_NEEDDRIVERCLASS]  DEFAULT (''),
	[CarCategoryId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_CARCATEGORYID]  DEFAULT ((0)),
	[Cars] [nvarchar](400) NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_CARS]  DEFAULT (''),
	[CarsCount] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_CARSCOUNT]  DEFAULT ((0)),
	[RefuelingSpeed] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_REFUELINGSPEED]  DEFAULT ((0)),
	[CourseId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_COURSEID]  DEFAULT ((0)),
	[WeatherId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_WEATHERID]  DEFAULT ((0)),
	[DateEntered] [datetime] NOT NULL CONSTRAINT [DF_GTSEVENTDETAILS_DATEENTERED]  DEFAULT ('1753-01-01'),
	[ActiveStart] [datetime] NOT NULL CONSTRAINT [DF_GTSEVENTDETAIL_ACTIVESTART]  DEFAULT ('1753-01-01'),
	[ActiveEnd] [datetime] NOT NULL CONSTRAINT [DF_GTSEVENTDETAIL_ACTIVEEND]  DEFAULT ('1753-01-01'),
 CONSTRAINT [PK_GTSEVENTDETAL] PRIMARY KEY CLUSTERED 
(
	[EventDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_ActiveStart_ActiveEnd_8EEEB] ON [dbo].[GTS_EventDetail]
(
	[ActiveStart] ASC,
	[ActiveEnd] ASC
)
INCLUDE ( 	[TitleId],
	[BoardId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_ActiveStart_ActiveEnd_D43BF] ON [dbo].[GTS_EventDetail]
(
	[ActiveStart] ASC,
	[ActiveEnd] ASC
)
INCLUDE ( 	[RegionId],
	[ChampionshipId],
	[RoundId],
	[TitleId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_BoardId_5E607] ON [dbo].[GTS_EventDetail]
(
	[BoardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_BoardId_C0DCC] ON [dbo].[GTS_EventDetail]
(
	[BoardId] ASC
)
INCLUDE ( 	[TitleId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_BoardId_FF7DC] ON [dbo].[GTS_EventDetail]
(
	[BoardId] ASC
)
INCLUDE ( 	[EventDetailId],
	[TitleId],
	[NeedDriverClass],
	[CourseId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_CarCategoryId_D0C1F] ON [dbo].[GTS_EventDetail]
(
	[CarCategoryId] ASC
)
INCLUDE ( 	[EventDetailId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_ChampionshipId_RoundId_65876] ON [dbo].[GTS_EventDetail]
(
	[ChampionshipId] ASC,
	[RoundId] ASC
)
INCLUDE ( 	[BoardId],
	[ActiveStart]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_EventId_6C7CE] ON [dbo].[GTS_EventDetail]
(
	[EventId] ASC
)
INCLUDE ( 	[TitleId],
	[EntryMax],
	[CarCategoryId],
	[CourseId],
	[WeatherId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_EventId_8E20A] ON [dbo].[GTS_EventDetail]
(
	[EventId] ASC
)
INCLUDE ( 	[CourseId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_EventId_92E0B] ON [dbo].[GTS_EventDetail]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_EventId_FFB2A] ON [dbo].[GTS_EventDetail]
(
	[EventId] ASC
)
INCLUDE ( 	[CarCategoryId],
	[CarsCount],
	[CourseId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_NeedDriverClass_43333] ON [dbo].[GTS_EventDetail]
(
	[NeedDriverClass] ASC
)
INCLUDE ( 	[BoardId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_NeedDriverClass_ActiveEnd_DD3F3] ON [dbo].[GTS_EventDetail]
(
	[NeedDriverClass] ASC,
	[ActiveEnd] ASC
)
INCLUDE ( 	[BoardId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_NeedDriverClass_B814E] ON [dbo].[GTS_EventDetail]
(
	[NeedDriverClass] ASC
)
INCLUDE ( 	[EventDetailId],
	[TitleId],
	[BoardId],
	[CourseId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_NeedDriverClass_F86A1] ON [dbo].[GTS_EventDetail]
(
	[NeedDriverClass] ASC
)
INCLUDE ( 	[EventDetailId],
	[TitleId],
	[BoardId],
	[CarCategoryId],
	[CourseId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_RegionId_ActiveEnd_FCC02] ON [dbo].[GTS_EventDetail]
(
	[RegionId] ASC,
	[ActiveEnd] ASC
)
INCLUDE ( 	[TitleId],
	[NeedDriverClass],
	[CarCategoryId],
	[CourseId],
	[ActiveStart]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_RegionId_ActiveStart_ActiveEnd_06B72] ON [dbo].[GTS_EventDetail]
(
	[RegionId] ASC,
	[ActiveStart] ASC,
	[ActiveEnd] ASC
)
INCLUDE ( 	[EventDetailId],
	[EventId],
	[TitleId],
	[EntryMax],
	[ConsumeFuel],
	[ConsumeTire],
	[RaceLimitLaps],
	[BoardId],
	[LimitTireF],
	[UseBOP],
	[Tuning],
	[CarCategoryId],
	[CourseId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_RegionId_ActiveStart_ActiveEnd_6AB49] ON [dbo].[GTS_EventDetail]
(
	[RegionId] ASC,
	[ActiveStart] ASC,
	[ActiveEnd] ASC
)
INCLUDE ( 	[ChampionshipId],
	[RoundId],
	[TitleId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_RegionId_TitleId_ActiveStart_12742] ON [dbo].[GTS_EventDetail]
(
	[RegionId] ASC,
	[TitleId] ASC,
	[ActiveStart] ASC
)
INCLUDE ( 	[ChampionshipId],
	[RoundId],
	[BoardId],
	[ActiveEnd]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_RegionId_TitleId_ActiveStart_ActiveEnd_12EA2] ON [dbo].[GTS_EventDetail]
(
	[RegionId] ASC,
	[TitleId] ASC,
	[ActiveStart] ASC,
	[ActiveEnd] ASC
)
INCLUDE ( 	[EventDetailId],
	[EventId],
	[EntryMax],
	[ConsumeFuel],
	[ConsumeTire],
	[RaceLimitLaps],
	[BoardId],
	[LimitTireF],
	[UseBOP],
	[Tuning],
	[CarCategoryId],
	[CourseId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_RegionId_TitleId_ActiveStart_EE172] ON [dbo].[GTS_EventDetail]
(
	[RegionId] ASC,
	[TitleId] ASC,
	[ActiveStart] ASC
)
INCLUDE ( 	[BoardId],
	[CarCategoryId],
	[CourseId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_RoundId_ActiveStart_ActiveEnd_5833B] ON [dbo].[GTS_EventDetail]
(
	[RoundId] ASC,
	[ActiveStart] ASC,
	[ActiveEnd] ASC
)
INCLUDE ( 	[RegionId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_TitleId_69225] ON [dbo].[GTS_EventDetail]
(
	[TitleId] ASC
)
INCLUDE ( 	[EventDetailId],
	[ActiveEnd]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_TitleId_ActiveStart_ActiveEnd_C3137] ON [dbo].[GTS_EventDetail]
(
	[TitleId] ASC,
	[ActiveStart] ASC,
	[ActiveEnd] ASC
)
INCLUDE ( 	[BoardId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_TitleId_CarCategoryId_CourseId_B60DD] ON [dbo].[GTS_EventDetail]
(
	[TitleId] ASC,
	[CarCategoryId] ASC,
	[CourseId] ASC
)
INCLUDE ( 	[BoardId],
	[ActiveStart]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_TitleId_D5D7A] ON [dbo].[GTS_EventDetail]
(
	[TitleId] ASC
)
INCLUDE ( 	[EventDetailId],
	[BoardId],
	[NeedDriverClass],
	[CarCategoryId],
	[CourseId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventDetail_TitleId_F577C] ON [dbo].[GTS_EventDetail]
(
	[TitleId] ASC
)
INCLUDE ( 	[BoardId],
	[CarCategoryId],
	[CourseId],
	[ActiveStart]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GTS_EventDetail] ADD  CONSTRAINT [FK_GTSEVENTDETAILS_BEHAVIORDAMAGETYPEID] FOREIGN KEY([BehaviorDamageTypeId])
REFERENCES [dbo].[GTS_DamageTypes] ([Id])
GO
ALTER TABLE [dbo].[GTS_EventDetail] CHECK CONSTRAINT [FK_GTSEVENTDETAILS_BEHAVIORDAMAGETYPEID]
GO
ALTER TABLE [dbo].[GTS_EventDetail] ADD  CONSTRAINT [FK_GTSEVENTDETAILS_BEHAVIORSLIPSTREAMTYPEID] FOREIGN KEY([BehaviorSlipStreamTypeId])
REFERENCES [dbo].[GTS_SlipStreamTypes] ([Id])
GO
ALTER TABLE [dbo].[GTS_EventDetail] CHECK CONSTRAINT [FK_GTSEVENTDETAILS_BEHAVIORSLIPSTREAMTYPEID]
GO
ALTER TABLE [dbo].[GTS_EventDetail] ADD  CONSTRAINT [FK_GTSEVENTDETAILS_CARCATEGORYTYPEID] FOREIGN KEY([CarCategoryId])
REFERENCES [dbo].[GTS_CarCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[GTS_EventDetail] CHECK CONSTRAINT [FK_GTSEVENTDETAILS_CARCATEGORYTYPEID]
GO
ALTER TABLE [dbo].[GTS_EventDetail] ADD  CONSTRAINT [FK_GTSEVENTDETAILS_COURSEID] FOREIGN KEY([CourseId])
REFERENCES [dbo].[GTS_Tracks] ([Id])
GO
ALTER TABLE [dbo].[GTS_EventDetail] CHECK CONSTRAINT [FK_GTSEVENTDETAILS_COURSEID]
GO
ALTER TABLE [dbo].[GTS_EventDetail] ADD  CONSTRAINT [FK_GTSEVENTDETAILS_DESCRIPTIONID] FOREIGN KEY([DescriptionId])
REFERENCES [dbo].[GTS_Descriptions] ([Id])
GO
ALTER TABLE [dbo].[GTS_EventDetail] CHECK CONSTRAINT [FK_GTSEVENTDETAILS_DESCRIPTIONID]
GO
ALTER TABLE [dbo].[GTS_EventDetail] ADD  CONSTRAINT [FK_GTSEVENTDETAILS_EVENTTARGETID] FOREIGN KEY([EventTargetId])
REFERENCES [dbo].[GTS_EventTargets] ([Id])
GO
ALTER TABLE [dbo].[GTS_EventDetail] CHECK CONSTRAINT [FK_GTSEVENTDETAILS_EVENTTARGETID]
GO
ALTER TABLE [dbo].[GTS_EventDetail] ADD  CONSTRAINT [FK_GTSEVENTDETAILS_EVENTTYPEID] FOREIGN KEY([EventTypeId])
REFERENCES [dbo].[GTS_EventTypes] ([Id])
GO
ALTER TABLE [dbo].[GTS_EventDetail] CHECK CONSTRAINT [FK_GTSEVENTDETAILS_EVENTTYPEID]
GO
ALTER TABLE [dbo].[GTS_EventDetail] ADD  CONSTRAINT [FK_GTSEVENTDETAILS_GAMEMODEID] FOREIGN KEY([GameModeId])
REFERENCES [dbo].[GTS_GameModes] ([Id])
GO
ALTER TABLE [dbo].[GTS_EventDetail] CHECK CONSTRAINT [FK_GTSEVENTDETAILS_GAMEMODEID]
GO
ALTER TABLE [dbo].[GTS_EventDetail] ADD  CONSTRAINT [FK_GTSEVENTDETAILS_LOWMUTYPEID] FOREIGN KEY([LowMuTypeId])
REFERENCES [dbo].[GTS_LowMuTypes] ([Id])
GO
ALTER TABLE [dbo].[GTS_EventDetail] CHECK CONSTRAINT [FK_GTSEVENTDETAILS_LOWMUTYPEID]
GO
ALTER TABLE [dbo].[GTS_EventDetail] ADD  CONSTRAINT [FK_GTSEVENTDETAILS_ONELINETITLEID] FOREIGN KEY([OneLineTitle])
REFERENCES [dbo].[GTS_OneLineTitles] ([Id])
GO
ALTER TABLE [dbo].[GTS_EventDetail] CHECK CONSTRAINT [FK_GTSEVENTDETAILS_ONELINETITLEID]
GO
ALTER TABLE [dbo].[GTS_EventDetail] ADD  CONSTRAINT [FK_GTSEVENTDETAILS_SPORTSMODEID] FOREIGN KEY([SportsModeId])
REFERENCES [dbo].[GTS_SportsModes] ([Id])
GO
ALTER TABLE [dbo].[GTS_EventDetail] CHECK CONSTRAINT [FK_GTSEVENTDETAILS_SPORTSMODEID]
GO
ALTER TABLE [dbo].[GTS_EventDetail] ADD  CONSTRAINT [FK_GTSEVENTDETAILS_STARTTYPEID] FOREIGN KEY([StartTypeId])
REFERENCES [dbo].[GTS_StartTypes] ([Id])
GO
ALTER TABLE [dbo].[GTS_EventDetail] CHECK CONSTRAINT [FK_GTSEVENTDETAILS_STARTTYPEID]
GO
ALTER TABLE [dbo].[GTS_EventDetail] ADD  CONSTRAINT [FK_GTSEVENTDETAILS_TITLEID] FOREIGN KEY([TitleId])
REFERENCES [dbo].[GTS_Titles] ([Id])
GO
ALTER TABLE [dbo].[GTS_EventDetail] CHECK CONSTRAINT [FK_GTSEVENTDETAILS_TITLEID]
GO
ALTER TABLE [dbo].[GTS_EventDetail] ADD  CONSTRAINT [FK_GTSEVENTDETAILS_WEATHERID] FOREIGN KEY([WeatherId])
REFERENCES [dbo].[GTS_TrackWeather] ([Id])
GO
ALTER TABLE [dbo].[GTS_EventDetail] CHECK CONSTRAINT [FK_GTSEVENTDETAILS_WEATHERID]
GO
