CREATE TABLE [dbo].[GTS_RequestBoard](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL CONSTRAINT [DF_GTSREQUESTBOARD_USERID]  DEFAULT ((0)),
	[TypeId] [bigint] NOT NULL CONSTRAINT [DF_GTSREQUESTBOARD_TYPEID]  DEFAULT ((0)),
	[Title] [nvarchar](64) NOT NULL CONSTRAINT [DF_GTSREQUESTBOARD_TITLE]  DEFAULT (''),
	[Description] [nvarchar](500) NOT NULL CONSTRAINT [DF_GTSREQUESTBOARD_DESCRIPTION]  DEFAULT (''),
	[StatusId] [bigint] NOT NULL CONSTRAINT [DF_GTSREQUESTBOARD_REQUESTSTATUS]  DEFAULT ((0)),
	[DateCreated] [datetime] NOT NULL CONSTRAINT [DF_GTSREQUESTBOARD_DATECREATED]  DEFAULT ('1753-01-01'),
 CONSTRAINT [PK_GTSREQUESTBOARD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[GTS_RequestBoard] ADD  CONSTRAINT [FK_GTSREQUESTBOARD_STATUSID] FOREIGN KEY([StatusId])
REFERENCES [dbo].[GTS_RequestStatus] ([Id])
GO
ALTER TABLE [dbo].[GTS_RequestBoard] CHECK CONSTRAINT [FK_GTSREQUESTBOARD_STATUSID]
GO
ALTER TABLE [dbo].[GTS_RequestBoard] ADD  CONSTRAINT [FK_GTSREQUESTBOARD_TYPEID] FOREIGN KEY([TypeId])
REFERENCES [dbo].[GTS_RequestTypes] ([Id])
GO
ALTER TABLE [dbo].[GTS_RequestBoard] CHECK CONSTRAINT [FK_GTSREQUESTBOARD_TYPEID]
GO
