CREATE TABLE [dbo].[GTS_PodiumRankings](
	[PodiumRankingId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProfileId] [bigint] NOT NULL CONSTRAINT [DF_GTSPODIUMRANKINGS_PROFILEID]  DEFAULT ((0)),
	[CountryId] [bigint] NOT NULL CONSTRAINT [DF_GTSPODIUMRANKINGS_COUNTRYID]  DEFAULT ((0)),
	[RegionId] [bigint] NOT NULL CONSTRAINT [DF_GTSPODIUMRANKINGS_REGIONID]  DEFAULT ((0)),
	[CountryRank] [bigint] NOT NULL CONSTRAINT [DF_GTSPODIUMRANKINGS_COUNTRYRANK]  DEFAULT ((0)),
	[RegionRank] [bigint] NOT NULL CONSTRAINT [DF_GTSPODIUMRANKINGS_REGIONRANK]  DEFAULT ((0)),
	[Total] [bigint] NOT NULL CONSTRAINT [DF_GTSPODIUMRANKINGS_TOTAL]  DEFAULT ((0)),
	[Podiums] [bigint] NOT NULL CONSTRAINT [DF_GTSPODIUMRANKINGS_PODIUMS]  DEFAULT ((0)),
	[First] [bigint] NOT NULL CONSTRAINT [DF_GTSPODIUMRANKINGS_FIRST]  DEFAULT ((0)),
	[Second] [bigint] NOT NULL CONSTRAINT [DF_GTSPODIUMRANKINGS_SECOND]  DEFAULT ((0)),
	[Third] [bigint] NOT NULL CONSTRAINT [DF_GTSPODIUMRANKINGS_THIRD]  DEFAULT ((0)),
	[TopFive] [bigint] NOT NULL CONSTRAINT [DF_GTSPODIUMRANKINGS_TOPFIVE]  DEFAULT ((0)),
	[TopTen] [bigint] NOT NULL CONSTRAINT [DF_GTSPODIUMRANKINGS_TOPTEN]  DEFAULT ((0)),
	[Other] [bigint] NOT NULL CONSTRAINT [DF_GTSPODIUMRANKINGS_OTHER]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSPODIUMRANKINGS] PRIMARY KEY CLUSTERED 
(
	[PodiumRankingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
