CREATE TABLE [dbo].[GTS_TempTracks](
	[Index] [int] NULL,
	[Code] [varchar](64) NULL,
	[CountryCode] [varchar](2) NULL,
	[CountryTag] [int] NULL,
	[TAG] [int] NULL,
	[LENGTH] [int] NULL,
	[Name] [varchar](128) NULL
) ON [PRIMARY]

GO
