CREATE TABLE [dbo].[GTS_FastestLaps](
	[Rank] [bigint] IDENTITY(1,1) NOT NULL,
	[Id] [nvarchar](32) NOT NULL CONSTRAINT [DF_GTSFASTESTLAPS_ID]  DEFAULT (''),
	[Country] [nvarchar](32) NOT NULL CONSTRAINT [DF_GTSFASTESTLAPS_COUNTRY]  DEFAULT (''),
	[CountryRank] [bigint] NOT NULL CONSTRAINT [DF_GTSFASTESTLAPS_COUNTRYRANK]  DEFAULT ((0)),
	[Value] [bigint] NOT NULL CONSTRAINT [DF_GTSFASTESTLAPS_VALUE]  DEFAULT ((0)),
	[EntryDate] [datetime] NOT NULL CONSTRAINT [DF_GTSFASTESTLAPS_ENTRYDATE]  DEFAULT ('1753-01-01'),
	[RegionRank] [bigint] NOT NULL CONSTRAINT [DF_GTSFASTESTLAPS_REGIONRANK]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSFASTESTLAPS] PRIMARY KEY CLUSTERED 
(
	[Rank] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [GTS_FastestLaps_Country_CountryRank_704EE] ON [dbo].[GTS_FastestLaps]
(
	[Country] ASC,
	[CountryRank] ASC
)
INCLUDE ( 	[Id],
	[Value],
	[EntryDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_FastestLaps_Id_7BCAE] ON [dbo].[GTS_FastestLaps]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
