CREATE TABLE [dbo].[GTS_RequestStatus](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RequestStatus] [nvarchar](32) NOT NULL CONSTRAINT [DF_GTSREQUESTSTATUS_REQUESTSTATUS]  DEFAULT (''),
 CONSTRAINT [PK_GTSREQUESTSTATUS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
