CREATE TABLE [dbo].[GTS_SearchHistory](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL CONSTRAINT [DF_GTSSEARCHHISTORY_USERID]  DEFAULT ((0)),
	[SearchName] [nvarchar](128) NOT NULL CONSTRAINT [DF_GTS_SEARCHHISTORY_SEARCHNAME]  DEFAULT (''),
	[DateEntered] [datetime] NOT NULL CONSTRAINT [DF_GTSSEARCHHISTORY_DATEENTERED]  DEFAULT ('1753-01-01'),
 CONSTRAINT [PK_GTSSEARCHHISTORY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
