CREATE TABLE [dbo].[GTS_ChampionshipColors](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ChampionshipColor] [nvarchar](8) NOT NULL CONSTRAINT [DF_CHAMPIONSHIPCOLORS_CHAMPIONSHIPCOLOR]  DEFAULT (''),
 CONSTRAINT [PK_GTSCHAMPIONSHIPCOLORS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
