CREATE TABLE [dbo].[GTS_RaceTypes](
	[RaceTypeId] [bigint] IDENTITY(1,1) NOT NULL,
	[RaceType] [nvarchar](64) NOT NULL CONSTRAINT [DF_GTSRACETYPES_RACETYPE]  DEFAULT (''),
 CONSTRAINT [PK_GTSRACETYPES] PRIMARY KEY CLUSTERED 
(
	[RaceTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
