CREATE TABLE [dbo].[GTS_StatDescriptions](
	[StatId] [bigint] IDENTITY(1,1) NOT NULL,
	[StatDescription] [nvarchar](32) NOT NULL CONSTRAINT [DF_GTSSTATDESCRIPTIONS_STATDESCRIPTION]  DEFAULT (''),
 CONSTRAINT [PK_GTSSTATDESCRIPTIONS] PRIMARY KEY CLUSTERED 
(
	[StatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
