CREATE TABLE [dbo].[GTS_Tracks](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](128) NOT NULL CONSTRAINT [DF_GTSTRACKS_NAME]  DEFAULT (''),
	[Code] [nvarchar](32) NOT NULL CONSTRAINT [DF_GTSTRACKS_CODE]  DEFAULT (''),
	[CountryCode] [nvarchar](2) NOT NULL CONSTRAINT [DF_GTSTRACKS_COUNTRYCODE]  DEFAULT (''),
	[CountryTag] [bigint] NOT NULL CONSTRAINT [DF_GTSTRACKS_COUNTRYTAG]  DEFAULT ((0)),
	[Tag] [bigint] NOT NULL CONSTRAINT [DF_GTSTRACKS_TAG]  DEFAULT ((0)),
	[Length] [bigint] NOT NULL CONSTRAINT [DF_GTSTRACKS_LENGTH]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSTRACKS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
