CREATE TABLE [dbo].[GTS_FIASeasons](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SeasonId] [bigint] NOT NULL,
	[ColorId] [bigint] NOT NULL,
	[RegionId] [bigint] NOT NULL,
	[Title] [nvarchar](64) NOT NULL,
	[ModeId] [bigint] NOT NULL,
	[RaceCount] [bigint] NOT NULL,
	[Rounds] [bigint] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[GTS_FIASeasons] ADD  CONSTRAINT [DF_GTSFIASEASONS_SEASONID]  DEFAULT ((0)) FOR [SeasonId]
GO
ALTER TABLE [dbo].[GTS_FIASeasons] ADD  CONSTRAINT [DF_GTSFIASEASONS_COLORID]  DEFAULT ((0)) FOR [ColorId]
GO
ALTER TABLE [dbo].[GTS_FIASeasons] ADD  CONSTRAINT [DF_GTSFIASEASONS_REGIONID]  DEFAULT ((0)) FOR [RegionId]
GO
ALTER TABLE [dbo].[GTS_FIASeasons] ADD  CONSTRAINT [DF_GTSFIASEASONS_TITLE]  DEFAULT ((0)) FOR [Title]
GO
ALTER TABLE [dbo].[GTS_FIASeasons] ADD  CONSTRAINT [DF_GTSFIASEASONS_MODEID]  DEFAULT ((0)) FOR [ModeId]
GO
ALTER TABLE [dbo].[GTS_FIASeasons] ADD  CONSTRAINT [DF_GTSFIASEASONS_RACECOUNT]  DEFAULT ((0)) FOR [RaceCount]
GO
ALTER TABLE [dbo].[GTS_FIASeasons] ADD  CONSTRAINT [DF_GTSFIASEASONS_ROUNDS]  DEFAULT ((0)) FOR [Rounds]
GO
ALTER TABLE [dbo].[GTS_FIASeasons] ADD  CONSTRAINT [DF_GTSFIASEASONS_STARTDATE]  DEFAULT ('1753-01-01') FOR [StartDate]
GO
ALTER TABLE [dbo].[GTS_FIASeasons] ADD  CONSTRAINT [DF_GTSFIASEASONS_ENDDATE]  DEFAULT ('1753-01-01') FOR [EndDate]
GO
