CREATE TABLE [dbo].[GTS_UserCars](
	[UserCarId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProfileId] [bigint] NOT NULL,
	[CarId] [bigint] NOT NULL,
 CONSTRAINT [PK_GTSUSERCARS] PRIMARY KEY CLUSTERED 
(
	[UserCarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[GTS_UserCars] ADD  CONSTRAINT [DF_GTSUSERCARS_PROFILEID]  DEFAULT ((0)) FOR [ProfileId]
GO
ALTER TABLE [dbo].[GTS_UserCars] ADD  CONSTRAINT [DF_GTSUSERCARS_CARID]  DEFAULT ((0)) FOR [CarId]
GO
