CREATE TABLE [dbo].[GTS_ManufacturerPoints](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ResultId] [bigint] NOT NULL CONSTRAINT [DF_GTSMANUFACTURERPOINTS_RESULTID]  DEFAULT ((0)),
	[Points] [bigint] NOT NULL CONSTRAINT [DF_GTSMANUFACTURERPOINTS_POINTS]  DEFAULT ((0)),
	[EventResultId] [bigint] NOT NULL CONSTRAINT [DF_GTSMANUFACTURERPOINTS_EVENTRESULTID]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSMANUFACTURERPOINTS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [GTS_ManufacturerPoints_ResultId_ACBB4] ON [dbo].[GTS_ManufacturerPoints]
(
	[ResultId] ASC
)
INCLUDE ( 	[Points],
	[EventResultId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_ManufacturerPoints_ResultId_EventResultId_96DF4] ON [dbo].[GTS_ManufacturerPoints]
(
	[ResultId] ASC,
	[EventResultId] ASC
)
INCLUDE ( 	[Points]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GTS_ManufacturerPoints] ADD  CONSTRAINT [FK_GTSMANUFACTURERPOINTS_RESULTID] FOREIGN KEY([ResultId])
REFERENCES [dbo].[GTS_ManufacturerResults] ([ResultId])
GO
ALTER TABLE [dbo].[GTS_ManufacturerPoints] CHECK CONSTRAINT [FK_GTSMANUFACTURERPOINTS_RESULTID]
GO
