CREATE TABLE [dbo].[GTS_RaceBoardMapping](
	[BoardId] [bigint] NOT NULL,
	[RaceBoardId] [bigint] NOT NULL,
	[RaceDate] [datetime] NOT NULL
) ON [PRIMARY]

GO
CREATE UNIQUE CLUSTERED INDEX [BoardId] ON [dbo].[GTS_RaceBoardMapping]
(
	[BoardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
