CREATE TABLE [dbo].[GTS_ManufacturerResults](
	[ResultId] [bigint] IDENTITY(1,1) NOT NULL,
	[SeasonId] [bigint] NOT NULL CONSTRAINT [DF_GTSMANUFACTURERRESULTS_SEASONID]  DEFAULT ((0)),
	[ProfileId] [bigint] NOT NULL CONSTRAINT [DF_GTSMANUFACTURERRESULTS_PROFILEID]  DEFAULT ((0)),
	[DriverClass] [bigint] NOT NULL CONSTRAINT [DF_GTSMANUFACTURERRESULTS_DRIVERCLASS]  DEFAULT ((0)),
	[MannerPoint] [bigint] NOT NULL CONSTRAINT [DF_GTSMANUFACTURERRESULTS_MANNERPOINT]  DEFAULT ((0)),
	[WorldRank] [bigint] NOT NULL CONSTRAINT [DF_GTSMANUFACTURERRESULTS_DISPLAYRANK]  DEFAULT ((0)),
	[ManufacturerRank] [bigint] NOT NULL CONSTRAINT [DF_GTSMANUFACTURERRESULTS_MANUFACTURERRANK]  DEFAULT ((0)),
	[TotalPoints] [bigint] NOT NULL CONSTRAINT [DF_GTSMANUFACTURERRESULTS_TOTALPOINTS]  DEFAULT ((0)),
	[ManufacturerId] [bigint] NOT NULL CONSTRAINT [DF_GTSMANUFACTURERRESULTS_MANUFACTUREREID]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSMANUFACTURERRESULTS] PRIMARY KEY CLUSTERED 
(
	[ResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [GTS_ManufacturerResults_ProfileId_BE4E0] ON [dbo].[GTS_ManufacturerResults]
(
	[ProfileId] ASC
)
INCLUDE ( 	[ResultId],
	[SeasonId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_ManufacturerResults_SeasonId_A85F7] ON [dbo].[GTS_ManufacturerResults]
(
	[SeasonId] ASC
)
INCLUDE ( 	[ProfileId],
	[DriverClass],
	[MannerPoint],
	[WorldRank],
	[ManufacturerRank],
	[TotalPoints],
	[ManufacturerId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_ManufacturerResults_SeasonId_WorldRank_F3F94] ON [dbo].[GTS_ManufacturerResults]
(
	[SeasonId] ASC,
	[WorldRank] ASC
)
INCLUDE ( 	[ProfileId],
	[DriverClass],
	[MannerPoint],
	[ManufacturerRank],
	[TotalPoints]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_ManufacturerResults_WorldRank_AF5F5] ON [dbo].[GTS_ManufacturerResults]
(
	[WorldRank] ASC
)
INCLUDE ( 	[SeasonId],
	[ProfileId],
	[DriverClass],
	[MannerPoint],
	[ManufacturerRank],
	[TotalPoints]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GTS_ManufacturerResults] ADD  CONSTRAINT [FK_GTSMANUFACTURERRESULTS_PROFILEID] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[GTS_Profiles] ([ProfileId])
GO
ALTER TABLE [dbo].[GTS_ManufacturerResults] CHECK CONSTRAINT [FK_GTSMANUFACTURERRESULTS_PROFILEID]
GO
