CREATE TABLE [dbo].[GTS_SeasonTitleLink](
	[LinkId] [bigint] IDENTITY(1,1) NOT NULL,
	[TitleId] [bigint] NOT NULL CONSTRAINT [DF_GTSSEASONTITLELINK_TITLEID]  DEFAULT ((0)),
	[RegionId] [bigint] NOT NULL CONSTRAINT [DF_GTSSEASONTITLELINK_REGIONID]  DEFAULT ((0)),
	[TypeId] [bigint] NOT NULL CONSTRAINT [DF_GTSSEASONTITLELINK_TYPEID]  DEFAULT ((0)),
	[SeasonId] [bigint] NOT NULL CONSTRAINT [DF_GTSSEASONTITLELINK_SEASONID]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSSEASONTITLELINK] PRIMARY KEY CLUSTERED 
(
	[LinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
