CREATE TABLE [dbo].[GTS_NationsCupResults](
	[ResultId] [bigint] IDENTITY(1,1) NOT NULL,
	[SeasonId] [bigint] NOT NULL CONSTRAINT [DF_GTSNATIONSCUPRESULTS_SEASONID]  DEFAULT ((0)),
	[ProfileId] [bigint] NOT NULL CONSTRAINT [DF_GTSNATIONSCUPRESULTS_PROFILEID]  DEFAULT ((0)),
	[DriverClass] [bigint] NOT NULL CONSTRAINT [DF_GTSNATIONSCUPRESULTS_DRIVERCLASS]  DEFAULT ((0)),
	[MannerPoint] [bigint] NOT NULL CONSTRAINT [DF_GTSNATIONSCUPRESULTS_MANNERPOINT]  DEFAULT ((0)),
	[WorldRank] [bigint] NOT NULL CONSTRAINT [DF_GTSNATIONSCUPRESULTS_DISPLAYRANK]  DEFAULT ((0)),
	[CountryRank] [bigint] NOT NULL CONSTRAINT [DF_GTSNATIONSCUPRESULTS_COUNTRYRANK]  DEFAULT ((0)),
	[TotalPoints] [bigint] NOT NULL CONSTRAINT [DF_GTSNATIONSCUPRESULTS_TOTALPOINTS]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSNATIONSCUPRESULTS] PRIMARY KEY CLUSTERED 
(
	[ResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [GTS_NationsCupResults_ProfileId_9AF9E] ON [dbo].[GTS_NationsCupResults]
(
	[ProfileId] ASC
)
INCLUDE ( 	[ResultId],
	[SeasonId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_NationsCupResults_SeasonId_895ED] ON [dbo].[GTS_NationsCupResults]
(
	[SeasonId] ASC
)
INCLUDE ( 	[ResultId],
	[ProfileId],
	[DriverClass],
	[MannerPoint],
	[WorldRank],
	[CountryRank],
	[TotalPoints]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_NationsCupResults_SeasonId_D9DCE] ON [dbo].[GTS_NationsCupResults]
(
	[SeasonId] ASC
)
INCLUDE ( 	[ProfileId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_NationsCupResults_SeasonId_WorldRank_0C30E] ON [dbo].[GTS_NationsCupResults]
(
	[SeasonId] ASC,
	[WorldRank] ASC
)
INCLUDE ( 	[ProfileId],
	[DriverClass],
	[MannerPoint],
	[CountryRank],
	[TotalPoints]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_NationsCupResults_WorldRank_D8049] ON [dbo].[GTS_NationsCupResults]
(
	[WorldRank] ASC
)
INCLUDE ( 	[SeasonId],
	[ProfileId],
	[DriverClass],
	[MannerPoint],
	[CountryRank],
	[TotalPoints]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GTS_NationsCupResults] ADD  CONSTRAINT [FK_GTSNATIONSCUPRESULTS_PROFILEID] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[GTS_Profiles] ([ProfileId])
GO
ALTER TABLE [dbo].[GTS_NationsCupResults] CHECK CONSTRAINT [FK_GTSNATIONSCUPRESULTS_PROFILEID]
GO
