CREATE TABLE [dbo].[GTS_WeatherTypes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TimeOfDayId] [bigint] NOT NULL CONSTRAINT [DF_GTSWEATHERTYPES_TIMEOFDAYID]  DEFAULT ((1)),
	[SkyTypeId] [bigint] NOT NULL CONSTRAINT [DF_GTSWEATHERTYPES_SKYTYPEID]  DEFAULT ((1)),
 CONSTRAINT [PK_GTSWEATHERTYPES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[GTS_WeatherTypes] ADD  CONSTRAINT [FK_GTSWEATHERTYPES_SKYTYPEID] FOREIGN KEY([SkyTypeId])
REFERENCES [dbo].[GTS_SkyTypes] ([Id])
GO
ALTER TABLE [dbo].[GTS_WeatherTypes] CHECK CONSTRAINT [FK_GTSWEATHERTYPES_SKYTYPEID]
GO
ALTER TABLE [dbo].[GTS_WeatherTypes] ADD  CONSTRAINT [FK_GTSWEATHERTYPES_TIMEOFDAYID] FOREIGN KEY([TimeOfDayId])
REFERENCES [dbo].[GTS_TimeOfDay] ([Id])
GO
ALTER TABLE [dbo].[GTS_WeatherTypes] CHECK CONSTRAINT [FK_GTSWEATHERTYPES_TIMEOFDAYID]
GO
