CREATE TABLE [dbo].[GTS_Channels](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [bigint] NOT NULL CONSTRAINT [DF_GTSCHANNELS_CODE]  DEFAULT (''),
	[Name] [nvarchar](32) NOT NULL CONSTRAINT [DF_GTSCHANNELS_NAME]  DEFAULT (''),
 CONSTRAINT [PK_GTSCHANNELS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
