CREATE TABLE [dbo].[GTS_NationsCupPoints](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ResultId] [bigint] NOT NULL CONSTRAINT [DF_GTSNATIONSCUPPOINTS_RESULTID]  DEFAULT ((0)),
	[Points] [bigint] NOT NULL CONSTRAINT [DF_GTSNATIONSCUPPOINTS_POINTS]  DEFAULT ((0)),
	[EventResultId] [bigint] NOT NULL CONSTRAINT [DF_GTSNATIONSCUPPOINTS_EVENTRESULTID]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSNATIONSCUPPOINTS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [GTS_NationsCupPoints_EventResultId_2620B] ON [dbo].[GTS_NationsCupPoints]
(
	[EventResultId] ASC
)
INCLUDE ( 	[Points]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_NationsCupPoints_EventResultId_4C075] ON [dbo].[GTS_NationsCupPoints]
(
	[EventResultId] ASC
)
INCLUDE ( 	[Id],
	[ResultId],
	[Points]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_NationsCupPoints_ResultId_50C14] ON [dbo].[GTS_NationsCupPoints]
(
	[ResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GTS_NationsCupPoints] ADD  CONSTRAINT [FK_GTSNATIONSCUPPOINTS_RESULTID] FOREIGN KEY([ResultId])
REFERENCES [dbo].[GTS_NationsCupResults] ([ResultId])
GO
ALTER TABLE [dbo].[GTS_NationsCupPoints] CHECK CONSTRAINT [FK_GTSNATIONSCUPPOINTS_RESULTID]
GO
