CREATE TABLE [dbo].[GTS_EventResults](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EventResultId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTRESULTS_EVENTRESULTID]  DEFAULT ((0)),
	[EventCalendarId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTRESULTS_EVENTCALENDARID]  DEFAULT ((0)),
	[Lap] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTRESULT_LAP]  DEFAULT ((0)),
	[LeadLap] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTRESULT_LEADLAP]  DEFAULT ((0)),
	[MannerPoint] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTRESULT_MANNERPOINT]  DEFAULT ((0)),
	[ManufacturerId] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENRESULTS_MANUFACTURERID]  DEFAULT ((0)),
	[QualifyRank] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTRESULT_QUALIFYRANK]  DEFAULT ((0)),
	[Rank] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTRESULT_RANK]  DEFAULT ((0)),
	[UserNumber] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTRESULT_USERNUMBER]  DEFAULT ((0)),
	[DateEntered] [datetime] NOT NULL CONSTRAINT [DF_GTSEVENTRESULTS_DATEENTERED]  DEFAULT ('1753-01-01')
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [GTS_EventResults_DateEntered_EE45C] ON [dbo].[GTS_EventResults]
(
	[DateEntered] ASC
)
INCLUDE ( 	[Id],
	[EventResultId],
	[EventCalendarId],
	[Lap],
	[LeadLap],
	[MannerPoint],
	[ManufacturerId],
	[QualifyRank],
	[Rank],
	[UserNumber]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventResults_EventCalendarId_4671E] ON [dbo].[GTS_EventResults]
(
	[EventCalendarId] ASC
)
INCLUDE ( 	[Id],
	[EventResultId],
	[Lap],
	[LeadLap],
	[MannerPoint],
	[ManufacturerId],
	[QualifyRank],
	[Rank],
	[UserNumber],
	[DateEntered]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventResults_EventCalendarId_68FC7] ON [dbo].[GTS_EventResults]
(
	[EventCalendarId] ASC
)
INCLUDE ( 	[Lap],
	[LeadLap],
	[MannerPoint],
	[QualifyRank],
	[Rank],
	[UserNumber]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventResults_EventResultId_12522] ON [dbo].[GTS_EventResults]
(
	[EventResultId] ASC
)
INCLUDE ( 	[Id],
	[EventCalendarId],
	[Lap],
	[LeadLap],
	[MannerPoint],
	[ManufacturerId],
	[QualifyRank],
	[Rank],
	[UserNumber],
	[DateEntered]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventResults_EventResultId_EventCalendarId_UserNumber_00A13] ON [dbo].[GTS_EventResults]
(
	[EventResultId] ASC,
	[EventCalendarId] ASC,
	[UserNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_EventResults_UserNumber_80835] ON [dbo].[GTS_EventResults]
(
	[UserNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
