CREATE TABLE [dbo].[GTS_RaceCars](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RaceDetailId] [bigint] NOT NULL CONSTRAINT [DF_GTSRACECARS_RACEDETAILID]  DEFAULT ((0)),
	[CategoryId] [bigint] NOT NULL CONSTRAINT [DF_GTSRACECARS_CATEGORYID]  DEFAULT ((0)),
 CONSTRAINT [PK_RACECARS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[GTS_RaceCars] ADD  CONSTRAINT [FK_GTSRACECARS_CATEGORYID] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[GTS_CarCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[GTS_RaceCars] CHECK CONSTRAINT [FK_GTSRACECARS_CATEGORYID]
GO
ALTER TABLE [dbo].[GTS_RaceCars] ADD  CONSTRAINT [FK_GTSRACECARS_RACEDETAILEID] FOREIGN KEY([RaceDetailId])
REFERENCES [dbo].[GTS_RaceDetail] ([RaceDetailId])
GO
ALTER TABLE [dbo].[GTS_RaceCars] CHECK CONSTRAINT [FK_GTSRACECARS_RACEDETAILEID]
GO
