CREATE TABLE [dbo].[GTS_RaceDetail](
	[RaceDetailId] [bigint] IDENTITY(1,1) NOT NULL,
	[RaceHeaderId] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_RACEHEADERID]  DEFAULT ((0)),
	[DamageTypeId] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_DAMAGETYPEID]  DEFAULT ((0)),
	[SlipstreamTypeId] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_SLIPSTREAMTYPEID]  DEFAULT ((0)),
	[BoostLevel] [nvarchar](400) NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_BOOSTLEVEL]  DEFAULT (''),
	[LowMuTypeId] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_LOWMUTYPEID]  DEFAULT ((0)),
	[EntryMax] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_ENTRYMAX]  DEFAULT ((0)),
	[StartTypeId] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_STARTTYPEID]  DEFAULT ((0)),
	[ConsumeFuel] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_CONSUMEFUEL]  DEFAULT ((0)),
	[ConsumeTire] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_CONSUMETIRE]  DEFAULT ((0)),
	[RaceLimit] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_RACELIMITLAPS]  DEFAULT ((0)),
	[RaceLimitTypeId] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_RACELIMITTYPEID]  DEFAULT ((0)),
	[PitConstraint] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_PITCONSTRAINT]  DEFAULT ((0)),
	[NeedCompoundUse] [nvarchar](400) NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_NEEDCOMPOUNDUSE]  DEFAULT (''),
	[LimitFuelCapacity] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_LIMITFUELCAPACITY]  DEFAULT ((0)),
	[LimitTireF] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_LIMITTIREF]  DEFAULT ((0)),
	[NeedTireF] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_NEEDTIREF]  DEFAULT ((0)),
	[UseBOP] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_USEBOP]  DEFAULT ((0)),
	[Tuning] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_TUNING]  DEFAULT ((0)),
	[NeedDriverClass] [nvarchar](400) NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_NEEDDRIVERCLASS]  DEFAULT (''),
	[Cars] [nvarchar](400) NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_CARS]  DEFAULT (''),
	[CarsCount] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_CARSCOUNT]  DEFAULT ((0)),
	[RefuelingSpeed] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_REFUELINGSPEED]  DEFAULT ((0)),
	[TrackId] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_TRACKID]  DEFAULT ((0)),
	[WeatherId] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEDETAIL_WEATHERID]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSRACEDETAIL] PRIMARY KEY CLUSTERED 
(
	[RaceDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[GTS_RaceDetail] ADD  CONSTRAINT [FK_GTSRACEDETAILS_DAMAGETYPEID] FOREIGN KEY([DamageTypeId])
REFERENCES [dbo].[GTS_DamageTypes] ([Id])
GO
ALTER TABLE [dbo].[GTS_RaceDetail] CHECK CONSTRAINT [FK_GTSRACEDETAILS_DAMAGETYPEID]
GO
ALTER TABLE [dbo].[GTS_RaceDetail] ADD  CONSTRAINT [FK_GTSRACEDETAILS_LOWMUTYPEID] FOREIGN KEY([LowMuTypeId])
REFERENCES [dbo].[GTS_LowMuTypes] ([Id])
GO
ALTER TABLE [dbo].[GTS_RaceDetail] CHECK CONSTRAINT [FK_GTSRACEDETAILS_LOWMUTYPEID]
GO
ALTER TABLE [dbo].[GTS_RaceDetail] ADD  CONSTRAINT [FK_GTSRACEDETAILS_RACEHEADERID] FOREIGN KEY([RaceHeaderId])
REFERENCES [dbo].[GTS_RaceHeader] ([RaceHeaderId])
GO
ALTER TABLE [dbo].[GTS_RaceDetail] CHECK CONSTRAINT [FK_GTSRACEDETAILS_RACEHEADERID]
GO
ALTER TABLE [dbo].[GTS_RaceDetail] ADD  CONSTRAINT [FK_GTSRACEDETAILS_SLIPSTREAMTYPEID] FOREIGN KEY([SlipstreamTypeId])
REFERENCES [dbo].[GTS_SlipStreamTypes] ([Id])
GO
ALTER TABLE [dbo].[GTS_RaceDetail] CHECK CONSTRAINT [FK_GTSRACEDETAILS_SLIPSTREAMTYPEID]
GO
ALTER TABLE [dbo].[GTS_RaceDetail] ADD  CONSTRAINT [FK_GTSRACEDETAILS_STARTTYPEID] FOREIGN KEY([StartTypeId])
REFERENCES [dbo].[GTS_StartTypes] ([Id])
GO
ALTER TABLE [dbo].[GTS_RaceDetail] CHECK CONSTRAINT [FK_GTSRACEDETAILS_STARTTYPEID]
GO
ALTER TABLE [dbo].[GTS_RaceDetail] ADD  CONSTRAINT [FK_GTSRACEDETAILS_TRACKID] FOREIGN KEY([TrackId])
REFERENCES [dbo].[GTS_Tracks] ([Id])
GO
ALTER TABLE [dbo].[GTS_RaceDetail] CHECK CONSTRAINT [FK_GTSRACEDETAILS_TRACKID]
GO
ALTER TABLE [dbo].[GTS_RaceDetail] ADD  CONSTRAINT [FK_GTSRACEDETAILS_WEATHERID] FOREIGN KEY([WeatherId])
REFERENCES [dbo].[GTS_TrackWeather] ([Id])
GO
ALTER TABLE [dbo].[GTS_RaceDetail] CHECK CONSTRAINT [FK_GTSRACEDETAILS_WEATHERID]
GO
