CREATE TABLE [dbo].[GTS_DriverRating](
	[Rank] [bigint] IDENTITY(1,1) NOT NULL,
	[Id] [nvarchar](32) NOT NULL CONSTRAINT [DF_GTSDRIVERRATING_ID]  DEFAULT (''),
	[Country] [nvarchar](32) NOT NULL CONSTRAINT [DF_GTSDRIVERRATING_COUNTRY]  DEFAULT (''),
	[CountryRank] [bigint] NOT NULL CONSTRAINT [DF_GTSDRIVERRATING_COUNTRYRANK]  DEFAULT ((0)),
	[Value] [bigint] NOT NULL CONSTRAINT [DF_GTSDRIVERRATING_VALUE]  DEFAULT ((0)),
	[EntryDate] [datetime] NOT NULL CONSTRAINT [DF_GTSDRIVERRATING_ENTRYDATE]  DEFAULT ('1753-01-01'),
	[RegionRank] [bigint] NOT NULL CONSTRAINT [DF_GTSDRIVERRATING_REGIONRANK]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSDRIVERRATING] PRIMARY KEY CLUSTERED 
(
	[Rank] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [GTS_DriverRating_Country_CountryRank_19564] ON [dbo].[GTS_DriverRating]
(
	[Country] ASC,
	[CountryRank] ASC
)
INCLUDE ( 	[Id],
	[Value],
	[EntryDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_DriverRating_Id_48B2A] ON [dbo].[GTS_DriverRating]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_DriverRating_Id_4DFB3] ON [dbo].[GTS_DriverRating]
(
	[Id] ASC
)
INCLUDE ( 	[Rank],
	[CountryRank],
	[Value],
	[EntryDate],
	[RegionRank]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_DriverRating_RegionRank_7300E] ON [dbo].[GTS_DriverRating]
(
	[RegionRank] ASC
)
INCLUDE ( 	[Id],
	[Country],
	[Value],
	[EntryDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
