CREATE TABLE [dbo].[GTS_Titles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](4000) NOT NULL CONSTRAINT [DF_TITLES_TITLE]  DEFAULT (''),
 CONSTRAINT [PK_GTSTITLES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
