CREATE TABLE [dbo].[GTS_SeasonHeader](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](32) NOT NULL CONSTRAINT [DF_GTSSEASONHEADER_TITLE]  DEFAULT (''),
	[SeasonYear] [bigint] NOT NULL CONSTRAINT [DF_GTSSEASONHEADER_SEASONYEAR]  DEFAULT ((2018)),
	[SeasonWeek] [bigint] NOT NULL CONSTRAINT [DF_GTSSEASONHEADER_SEASONWEEK]  DEFAULT ((1)),
 CONSTRAINT [PK_GTSSEASONTITLES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
