CREATE TABLE [dbo].[GTS_FiaRegions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CountryId] [bigint] NOT NULL CONSTRAINT [DF_GTSFIAREGIONS_COUNTRYID]  DEFAULT ((0)),
	[RegionId] [bigint] NOT NULL CONSTRAINT [DF_GTSFIAREGIONS_REGIONID]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSFIAREGIONS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
