CREATE TABLE [dbo].[GTS_Seasons](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SeasonId] [bigint] NOT NULL CONSTRAINT [DF_GTSSEASONS_SEASONID]  DEFAULT ((0)),
	[ChampionshipId] [bigint] NOT NULL CONSTRAINT [DF_GTSSEASONS_CHAMPIONSHIPID]  DEFAULT ((0)),
	[RegionId] [bigint] NOT NULL CONSTRAINT [DF_GTSSEASONS_REGIONID]  DEFAULT ((0)),
	[RaceCount] [bigint] NOT NULL CONSTRAINT [DF_GTSSEASONS_RACECOUNT]  DEFAULT ((0)),
	[LogoId] [bigint] NOT NULL CONSTRAINT [DF_GTSSEASONS_LOGOID]  DEFAULT ((0)),
	[FlyerId] [bigint] NOT NULL CONSTRAINT [DF_GTSSEASONS_FLYERID]  DEFAULT ((0)),
	[ColorId] [bigint] NOT NULL CONSTRAINT [DF_GTSSEASONS_COLORID]  DEFAULT ((0)),
	[Processed] [nvarchar](1) NOT NULL CONSTRAINT [DF_GTSSEASONS_PROCESSED]  DEFAULT ('N'),
	[DateCreated] [datetime] NOT NULL CONSTRAINT [DF_GTSSEASONS_DATECREATED]  DEFAULT ('1753-01-01'),
	[DateUpdated] [datetime] NOT NULL CONSTRAINT [DF_GTSSEASONHEADERS_DATEUPDATED]  DEFAULT ('1753-01-01')
) ON [PRIMARY]

GO
