CREATE TABLE [dbo].[GTS_RequestTypes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RequestType] [nvarchar](32) NOT NULL CONSTRAINT [DF_GTSREQUESTTYPES_REQUESTTYPE]  DEFAULT (''),
 CONSTRAINT [PK_GTSREQUESTTYPES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
