CREATE TABLE [dbo].[GTS_LowMuTypes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[LowMuType] [nvarchar](32) NOT NULL CONSTRAINT [DF_LOWMUTYPES_LOWMUTYPE]  DEFAULT (''),
 CONSTRAINT [PK_GTSLOWMUTYPES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
