CREATE TABLE [dbo].[GTS_RaceHeader](
	[RaceHeaderId] [bigint] IDENTITY(1,1) NOT NULL,
	[ChannelId] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEHEADER_CHANNELID]  DEFAULT ((0)),
	[RegionId] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEHEADER_REGIONID]  DEFAULT ((0)),
	[EventId] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEHEADER_EVENTID]  DEFAULT ((0)),
	[BoardId] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEHEADER_BOARDID]  DEFAULT ((0)),
	[StartDate] [datetime] NOT NULL CONSTRAINT [DF_GTSRACEHEADER_STARTDATE]  DEFAULT ('1753-01-01'),
	[EndDate] [datetime] NOT NULL CONSTRAINT [DF_GTSRACEHEADER_ENDDATE]  DEFAULT ('1753-01-01'),
 CONSTRAINT [PK_GTSRACEHEADER] PRIMARY KEY CLUSTERED 
(
	[RaceHeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[GTS_RaceHeader] ADD  CONSTRAINT [FK_GTSRACEHEADER_CHANNELID] FOREIGN KEY([ChannelId])
REFERENCES [dbo].[GTS_Channels] ([Id])
GO
ALTER TABLE [dbo].[GTS_RaceHeader] CHECK CONSTRAINT [FK_GTSRACEHEADER_CHANNELID]
GO
ALTER TABLE [dbo].[GTS_RaceHeader] ADD  CONSTRAINT [FK_GTSRACEHEADER_REGIONID] FOREIGN KEY([RegionId])
REFERENCES [dbo].[GTS_Regions] ([Id])
GO
ALTER TABLE [dbo].[GTS_RaceHeader] CHECK CONSTRAINT [FK_GTSRACEHEADER_REGIONID]
GO
