CREATE TABLE [dbo].[GTS_PlayerLevels](
	[PlayerLevel] [bigint] IDENTITY(1,1) NOT NULL,
	[PlayerCount] [bigint] NOT NULL CONSTRAINT [DF_GTSPLAYERLEVELS_PLAYERCOUNT]  DEFAULT ((0)),
	[PercentageOfTotal] [decimal](8, 4) NOT NULL CONSTRAINT [DF_GTSPLAYERLEVELS_PERCENTAGEOFTOTAL]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSPLAYERLEVELS] PRIMARY KEY CLUSTERED 
(
	[PlayerLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
