CREATE TABLE [dbo].[GTS_EventTargets](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EventTarget] [nvarchar](4000) NOT NULL CONSTRAINT [DF_EVENTTARGETS_EVENTTARGET]  DEFAULT (''),
 CONSTRAINT [PK_GTSEVENTTARGETS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
