CREATE TABLE [dbo].[GTS_Stats](
	[StatsId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProfileId] [bigint] NOT NULL,
	[StatId] [bigint] NOT NULL,
	[StatYear] [bigint] NOT NULL,
	[StatMonth] [bigint] NOT NULL,
	[StatDay] [bigint] NOT NULL,
	[StatValue] [bigint] NOT NULL,
	[EntryDate] [datetime] NOT NULL,
 CONSTRAINT [PK_GTS_STATS] PRIMARY KEY CLUSTERED 
(
	[StatsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [GTS_Stats_EntryDate_55017] ON [dbo].[GTS_Stats]
(
	[EntryDate] ASC
)
INCLUDE ( 	[StatsId],
	[ProfileId],
	[StatId],
	[StatYear],
	[StatMonth],
	[StatDay],
	[StatValue]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_Stats_ProfileId_E904B] ON [dbo].[GTS_Stats]
(
	[ProfileId] ASC
)
INCLUDE ( 	[StatsId],
	[StatId],
	[StatYear],
	[StatMonth],
	[StatDay],
	[StatValue],
	[EntryDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_Stats_ProfileId_StatId_4D990] ON [dbo].[GTS_Stats]
(
	[ProfileId] ASC,
	[StatId] ASC
)
INCLUDE ( 	[StatYear],
	[StatMonth],
	[StatDay],
	[StatValue]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_Stats_ProfileId_StatId_StatYear_StatMonth_StatDay_8F05C] ON [dbo].[GTS_Stats]
(
	[ProfileId] ASC,
	[StatId] ASC,
	[StatYear] ASC,
	[StatMonth] ASC,
	[StatDay] ASC
)
INCLUDE ( 	[StatsId],
	[StatValue],
	[EntryDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_Stats_ProfileId_StatId_StatYear_StatMonth_StatDay_CEAB8] ON [dbo].[GTS_Stats]
(
	[ProfileId] ASC,
	[StatId] ASC,
	[StatYear] ASC,
	[StatMonth] ASC,
	[StatDay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_Stats_ProfileId_StatId_StatYear_StatMonth_StatDay_EntryDate_24D5B] ON [dbo].[GTS_Stats]
(
	[ProfileId] ASC,
	[StatId] ASC,
	[StatYear] ASC,
	[StatMonth] ASC,
	[StatDay] ASC,
	[EntryDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_Stats_ProfileId_StatId_StatYear_StatMonth_StatDay_F1BE0] ON [dbo].[GTS_Stats]
(
	[ProfileId] ASC,
	[StatId] ASC,
	[StatYear] ASC,
	[StatMonth] ASC,
	[StatDay] ASC
)
INCLUDE ( 	[StatValue]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_Stats_StatId_60E9E] ON [dbo].[GTS_Stats]
(
	[StatId] ASC
)
INCLUDE ( 	[StatYear],
	[StatMonth],
	[StatDay]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_Stats_StatId_StatValue_7535E] ON [dbo].[GTS_Stats]
(
	[StatId] ASC,
	[StatValue] ASC
)
INCLUDE ( 	[ProfileId],
	[StatYear],
	[StatMonth],
	[StatDay]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_Stats_StatYear_StatMonth_StatDay_67E10] ON [dbo].[GTS_Stats]
(
	[StatYear] ASC,
	[StatMonth] ASC,
	[StatDay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_Stats_StatYear_StatMonth_StatDay_B659B] ON [dbo].[GTS_Stats]
(
	[StatYear] ASC,
	[StatMonth] ASC,
	[StatDay] ASC
)
INCLUDE ( 	[ProfileId],
	[StatId],
	[StatValue],
	[EntryDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GTS_Stats] ADD  CONSTRAINT [DF_GTS_STATS_PROFILEID]  DEFAULT ((0)) FOR [ProfileId]
GO
ALTER TABLE [dbo].[GTS_Stats] ADD  CONSTRAINT [DF_GTS_STATS_STATID]  DEFAULT ((0)) FOR [StatId]
GO
ALTER TABLE [dbo].[GTS_Stats] ADD  CONSTRAINT [DF_GTS_STATS_STATYEAR]  DEFAULT ((0)) FOR [StatYear]
GO
ALTER TABLE [dbo].[GTS_Stats] ADD  CONSTRAINT [DF_GTS_STATS_STATMONTH]  DEFAULT ((0)) FOR [StatMonth]
GO
ALTER TABLE [dbo].[GTS_Stats] ADD  CONSTRAINT [DF_GTS_STATS_STATDAY]  DEFAULT ((0)) FOR [StatDay]
GO
ALTER TABLE [dbo].[GTS_Stats] ADD  CONSTRAINT [DF_GTS_STATS_STATVALUE]  DEFAULT ((0)) FOR [StatValue]
GO
ALTER TABLE [dbo].[GTS_Stats] ADD  CONSTRAINT [DF_GTS_STATS_ENTRYDATE]  DEFAULT ('1753-01-01') FOR [EntryDate]
GO
ALTER TABLE [dbo].[GTS_Stats] ADD  CONSTRAINT [FK_GTSSTATS_STATID] FOREIGN KEY([StatId])
REFERENCES [dbo].[GTS_StatDescriptions] ([StatId])
GO
ALTER TABLE [dbo].[GTS_Stats] CHECK CONSTRAINT [FK_GTSSTATS_STATID]
GO
