CREATE TABLE [dbo].[GTS_SiteMessages](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL CONSTRAINT [DF_GTSSITEMESSAGES_USERID]  DEFAULT ((0)),
	[MessageText] [nvarchar](4000) NOT NULL CONSTRAINT [DF_GTSSITEMESSAGES_MESSAGETEXT]  DEFAULT (''),
	[DateSent] [datetime] NOT NULL CONSTRAINT [DF_GTSSITEMESSAGES_DATESENT]  DEFAULT ('1753-01-01'),
 CONSTRAINT [PK_SITEMESSAGES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
