CREATE TABLE [dbo].[GTS_ExcludedUsernames](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](32) NOT NULL CONSTRAINT [DF_GTSEXCLUDEDUSERNAMES_USERNAME]  DEFAULT (''),
 CONSTRAINT [PK_GTSEXCLUDEDUSERNAMES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
