CREATE TABLE [dbo].[GTS_Manufacturers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](64) NOT NULL CONSTRAINT [DF_GTSMANUFACTURERS_NAME]  DEFAULT (''),
	[Code] [nvarchar](64) NOT NULL CONSTRAINT [DF_GTSMANUFACTURERS_CODE]  DEFAULT (''),
	[Image] [varbinary](max) NOT NULL CONSTRAINT [DF_GTSMANUFACTURERS_IMAGE]  DEFAULT (0x),
	[TagId] [bigint] NOT NULL CONSTRAINT [DF_GTSMANUFACTURERS_TAGID]  DEFAULT ((0)),
	[PDCode] [bigint] NOT NULL CONSTRAINT [DF_GTSMANUFACTURERS_PDCODE]  DEFAULT ((0)),
	[FiaRaces] [nvarchar](1) NOT NULL CONSTRAINT [DF_GTSMANUFACTURERS_FIARACES]  DEFAULT ('N'),
 CONSTRAINT [PK_GTSMANUFACTURERS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
