CREATE TABLE [dbo].[GTS_RankedQualifyingHistory](
	[ProfileId] [bigint] NOT NULL,
	[GlobalRank] [int] NOT NULL,
	[RegionalRank] [int] NOT NULL,
	[CountryRank] [int] NOT NULL,
	[Score] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
	[BoardId] [bigint] NOT NULL,
	[RaceBoardId] [bigint] NOT NULL,
	[RankingId] [bigint] NOT NULL
) ON [PRIMARY]

GO
CREATE CLUSTERED INDEX [RaceBoardId-ProfileId] ON [dbo].[GTS_RankedQualifyingHistory]
(
	[RaceBoardId] ASC,
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [BoardId] ON [dbo].[GTS_RankedQualifyingHistory]
(
	[BoardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [BoardId-CountryId] ON [dbo].[GTS_RankedQualifyingHistory]
(
	[BoardId] ASC,
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_RankedQualifyingHistory_BoardId_RegionalRank_754DF] ON [dbo].[GTS_RankedQualifyingHistory]
(
	[BoardId] ASC,
	[RegionalRank] ASC
)
INCLUDE ( 	[ProfileId],
	[GlobalRank],
	[CountryRank],
	[Score],
	[CountryId],
	[RaceBoardId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_RankedQualifyingHistory_CountryId_BoardId_CountryRank_05F4F] ON [dbo].[GTS_RankedQualifyingHistory]
(
	[CountryId] ASC,
	[BoardId] ASC,
	[CountryRank] ASC
)
INCLUDE ( 	[ProfileId],
	[GlobalRank],
	[RegionalRank],
	[Score],
	[RaceBoardId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_RankedQualifyingHistory_GlobalRank_3A24F] ON [dbo].[GTS_RankedQualifyingHistory]
(
	[GlobalRank] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_RankedQualifyingHistory_ProfileId_CECAC] ON [dbo].[GTS_RankedQualifyingHistory]
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [RaceBoardId] ON [dbo].[GTS_RankedQualifyingHistory]
(
	[RaceBoardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
