CREATE TABLE [dbo].[GTS_ChannelTimes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ChannelId] [bigint] NOT NULL CONSTRAINT [DF_GTSCHANNELTIMES_CHANNELID]  DEFAULT ((0)),
	[ActiveStart] [datetime] NOT NULL CONSTRAINT [DF_GTSCHANNELTIMES_ACTIVESTART]  DEFAULT ('1753-01-01'),
	[ActiveEnd] [datetime] NOT NULL CONSTRAINT [DF_GTSCHANNELTIMES_ACTIVEEND]  DEFAULT ('1753-01-01')
) ON [PRIMARY]

GO
