CREATE TABLE [dbo].[GTS_ProfileStats](
	[ProfileStatsId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProfileId] [bigint] NOT NULL CONSTRAINT [DF_GTSPROFILESTATS_PROFILEID]  DEFAULT ((0)),
	[ManufacturerId] [bigint] NOT NULL CONSTRAINT [DF_GTSPROFILESTATS_MANUFACTURERID]  DEFAULT ((0)),
	[PurchasedCars] [bigint] NOT NULL CONSTRAINT [DF_GTSPROFILESTATS_PURCHASEDCARS]  DEFAULT ((0)),
	[CarCount] [bigint] NOT NULL CONSTRAINT [DF_GTSPROFILESTATS_CARCOUNT]  DEFAULT ((0)),
	[CreditEarned] [bigint] NOT NULL CONSTRAINT [DF_GTSPROFILESTATS_CREDITEARNED]  DEFAULT ((0)),
	[Level] [bigint] NOT NULL CONSTRAINT [DF_GTSPROFILESTATS_LEVEL]  DEFAULT ((0)),
	[LevelProgress] [bigint] NOT NULL CONSTRAINT [DF_GTSPROFILESTATS_LEVELPROGRESS]  DEFAULT ((0)),
	[LoginCount] [bigint] NOT NULL CONSTRAINT [DF_GTSPROFILESTATS_LOGINCOUNT]  DEFAULT ((0)),
	[MileageEarned] [bigint] NOT NULL CONSTRAINT [DF_GTSPROFILESTATS_MILEAGEEARNED]  DEFAULT ((0)),
	[TotalRunningMeter] [bigint] NOT NULL CONSTRAINT [DF_GTSPROFILESTATS_TOTALRUNNINGMETER]  DEFAULT ((0)),
	[Experience] [bigint] NOT NULL CONSTRAINT [DF_GTSPROFILESTATS_EXPERIENCE]  DEFAULT ((0)),
	[DriverClass] [bigint] NOT NULL CONSTRAINT [DF_GTSPROFILESTATS_DRIVERCLASS]  DEFAULT ((0)),
	[DriverPoint] [bigint] NOT NULL CONSTRAINT [DF_GTSPROFILESTATS_DRIVERPOINT]  DEFAULT ((0)),
	[MannerPoint] [bigint] NOT NULL CONSTRAINT [DF_GTSPROFILESTATS_MANNERPOINT]  DEFAULT ((0)),
	[RaceCount] [bigint] NOT NULL CONSTRAINT [DF_GTSPROFILESTATS_RACECOUNT]  DEFAULT ((0)),
	[DriverPointUpRate] [bigint] NOT NULL CONSTRAINT [DF_GTSPROFILESTATS_DRIVERPOINTUPRATE]  DEFAULT ((0)),
	[EntryDate] [datetime] NOT NULL CONSTRAINT [DF_GTSPROFILESTATS_ENTRYDATE]  DEFAULT ('1753-01-01'),
 CONSTRAINT [PK_GTSPROFILESTATS] PRIMARY KEY CLUSTERED 
(
	[ProfileStatsId] ASC,
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [GTS_ProfileStats_All] ON [dbo].[GTS_ProfileStats]
(
	[ProfileId] ASC,
	[ManufacturerId] ASC,
	[PurchasedCars] ASC,
	[CarCount] ASC,
	[CreditEarned] ASC,
	[Level] ASC,
	[LevelProgress] ASC,
	[LoginCount] ASC,
	[MileageEarned] ASC,
	[TotalRunningMeter] ASC,
	[DriverClass] ASC,
	[DriverPoint] ASC,
	[MannerPoint] ASC,
	[RaceCount] ASC,
	[DriverPointUpRate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_ProfileStats_Level_29CB4] ON [dbo].[GTS_ProfileStats]
(
	[Level] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_ProfileStats_ManufacturerId_10CBB] ON [dbo].[GTS_ProfileStats]
(
	[ManufacturerId] ASC
)
INCLUDE ( 	[ProfileStatsId],
	[ProfileId],
	[PurchasedCars],
	[CarCount],
	[CreditEarned],
	[Level],
	[LevelProgress],
	[LoginCount],
	[MileageEarned],
	[TotalRunningMeter],
	[Experience],
	[DriverClass],
	[DriverPoint],
	[MannerPoint],
	[RaceCount],
	[DriverPointUpRate],
	[EntryDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_ProfileStats_ProfileId_2E0D8] ON [dbo].[GTS_ProfileStats]
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_ProfileStats_RaceCount_29FD1] ON [dbo].[GTS_ProfileStats]
(
	[RaceCount] ASC
)
INCLUDE ( 	[MannerPoint]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_ProfileStats_RaceCount_67338] ON [dbo].[GTS_ProfileStats]
(
	[RaceCount] ASC
)
INCLUDE ( 	[DriverClass]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_ProfileStats_RaceCount_9CA46] ON [dbo].[GTS_ProfileStats]
(
	[RaceCount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_ProfileStats_RaceCount_C91CE] ON [dbo].[GTS_ProfileStats]
(
	[RaceCount] ASC
)
INCLUDE ( 	[ProfileId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_ProfileStats_RaceCount_D2AF8] ON [dbo].[GTS_ProfileStats]
(
	[RaceCount] ASC
)
INCLUDE ( 	[DriverClass],
	[MannerPoint]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
