CREATE TABLE [dbo].[GTS_RaceUpdateTimes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BoardId] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEUPDATETIMES_BOARDID]  DEFAULT ((0)),
	[Entries] [bigint] NOT NULL CONSTRAINT [DF_GTSRACEUPDATETIMES_ENTRIES]  DEFAULT ((0)),
	[UpdateTime] [datetime] NOT NULL CONSTRAINT [DF_GTSRACEUPDATETIMES_LASTUPDATE]  DEFAULT (''),
 CONSTRAINT [PK_GTSRACEUPDATETIMES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
