CREATE TABLE [dbo].[GTS_ExperiencePoints](
	[LevelId] [bigint] IDENTITY(1,1) NOT NULL,
	[Level] [bigint] NOT NULL CONSTRAINT [DF_GTSEXPERIENCEPOINTS_LEVEL]  DEFAULT ((0)),
	[Points] [bigint] NOT NULL CONSTRAINT [DF_GTSEXPERIENCEPOINTS_POINTS]  DEFAULT ((0)),
	[TotalPoints] [bigint] NOT NULL CONSTRAINT [DF_GTSEXPERIENCEPOINTS_TOTALPOINTS]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSEXPERIENCEPOINTS] PRIMARY KEY CLUSTERED 
(
	[LevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
