CREATE TABLE [dbo].[GTS_FIARaceHeader](
	[HeaderId] [bigint] IDENTITY(1,1) NOT NULL,
	[CalendarId] [bigint] NOT NULL CONSTRAINT [DF_GTSFIARACEHEADER_CALENDARID]  DEFAULT ((0)),
	[RegionId] [bigint] NOT NULL CONSTRAINT [DF_GTSFIARACEHEADER_REGIONID]  DEFAULT ((0)),
	[ChannelId] [bigint] NOT NULL CONSTRAINT [DF_GTSFIARACEHEADER_CHANNELID]  DEFAULT ((0)),
	[StartTime] [datetime] NOT NULL CONSTRAINT [DF_GTSFIARACEHEADER_STARTTIME]  DEFAULT ('1753-01-01 00:00:00'),
	[EndTime] [datetime] NOT NULL CONSTRAINT [DF_GTSFIARACEHEADER_ENDTIME]  DEFAULT ('1753-01-01 00:00:00'),
	[EventId] [bigint] NOT NULL CONSTRAINT [DF_GTSFIARACEHEADER_EVENTID]  DEFAULT ((0)),
	[CreateDate] [datetime] NOT NULL CONSTRAINT [DF_GTSFIARACEHEADER_CREATEDATE]  DEFAULT ('1753-01-01 00:00:00'),
 CONSTRAINT [PK_GTSFIARACEHEADER] PRIMARY KEY CLUSTERED 
(
	[HeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
