CREATE TABLE [dbo].[GTS_EventChannels](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](32) NOT NULL CONSTRAINT [DF_GTSEVENTCHANNELS_NAME]  DEFAULT (''),
	[Code] [bigint] NOT NULL CONSTRAINT [DF_GTSEVENTCHANNELS_CODE]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSEVENTCHANNELS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
