CREATE TABLE [dbo].[GTS_SeasonDetail](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SeasonId] [bigint] NOT NULL CONSTRAINT [DF_GTSSEASONDETAIL_SEASONID]  DEFAULT ((0)),
	[RegionId] [bigint] NOT NULL CONSTRAINT [DF_GTSSEASONDETAIL_REGIONID]  DEFAULT ((0)),
	[EventTargetId] [bigint] NOT NULL CONSTRAINT [DF_GTSSEASONDETAIL_EVENTTARGETID]  DEFAULT ((0)),
	[TypeId] [bigint] NOT NULL CONSTRAINT [DF_GTSSEASONDETAIL_TYPEID]  DEFAULT ((0)),
	[Rounds] [bigint] NOT NULL CONSTRAINT [DF_GTSSEASONDETAIL_ROUNDS]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSSEASONDETAIL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
