CREATE TABLE [dbo].[GTS_LocalizedText](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RoundId] [bigint] NOT NULL CONSTRAINT [DF_GTSLOCALIZEDTEXT_ROUNDID]  DEFAULT ((0)),
	[TextType] [bigint] NOT NULL CONSTRAINT [DF_GTSLOCALIZEDTEXT_TEXTTYPE]  DEFAULT ((0)),
	[CountryId] [bigint] NOT NULL CONSTRAINT [DF_GTSLOCALIZEDTEXT_COUNTRYID]  DEFAULT ((0)),
	[LocalText] [nvarchar](4000) NOT NULL CONSTRAINT [DF_GTSLOCALIZEDTEXT_LOCALTEXT]  DEFAULT (''),
 CONSTRAINT [PK_GTSLOCALIZEDTEXT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [GTS_LocalizedText_RoundId_TextType_CountryId_30718] ON [dbo].[GTS_LocalizedText]
(
	[RoundId] ASC,
	[TextType] ASC,
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GTS_LocalizedText] ADD  CONSTRAINT [FK_GTSLOCALIZEDTEXT_COUNTRYID] FOREIGN KEY([CountryId])
REFERENCES [dbo].[GTS_Countries] ([CountryId])
GO
ALTER TABLE [dbo].[GTS_LocalizedText] CHECK CONSTRAINT [FK_GTSLOCALIZEDTEXT_COUNTRYID]
GO
