CREATE TABLE [dbo].[GTS_QualifiersRegional](
	[BoardId] [bigint] NOT NULL,
	[RegionalDrivers] [int] NOT NULL
) ON [PRIMARY]

GO
CREATE CLUSTERED INDEX [BoardId] ON [dbo].[GTS_QualifiersRegional]
(
	[BoardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
