CREATE TABLE [dbo].[GTS_LastUpdate](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProfileId] [bigint] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_GTSLASTUPDATE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [GTS_LastUpdate_ProfileId_F98ED] ON [dbo].[GTS_LastUpdate]
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_LastUpdate_UpdateDate_8F81A] ON [dbo].[GTS_LastUpdate]
(
	[UpdateDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_LastUpdate_UpdateDate_D58D9] ON [dbo].[GTS_LastUpdate]
(
	[UpdateDate] ASC
)
INCLUDE ( 	[Id],
	[ProfileId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GTS_LastUpdate] ADD  CONSTRAINT [DF_GTSLASTUPDATE_PROFILEID]  DEFAULT ((0)) FOR [ProfileId]
GO
ALTER TABLE [dbo].[GTS_LastUpdate] ADD  CONSTRAINT [DF_GTSLASTUPDATE_UPDATEDATE]  DEFAULT ('1753-01-01') FOR [UpdateDate]
GO
