CREATE TABLE [dbo].[GTS_Regions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Region] [nvarchar](32) NOT NULL CONSTRAINT [DF_GTSREGIONS_REGION]  DEFAULT (''),
	[RegionCode] [nvarchar](2) NOT NULL CONSTRAINT [DF_GTSREGIONS_REGIONCODE]  DEFAULT (''),
 CONSTRAINT [PK_GTSREGIONS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
