CREATE TABLE [dbo].[GTS_AchievementHistory](
	[AchievementHistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProfileId] [bigint] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_PROFILEID]  DEFAULT ((0)),
	[PlayTime] [bigint] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_PLAYTIME]  DEFAULT ((0)),
	[DistanceDriven] [bigint] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_DISTANCEDRIVEN]  DEFAULT ((0)),
	[TimeDriven] [bigint] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_TIMEDRIVEN]  DEFAULT ((0)),
	[FuelConsumed] [bigint] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_FUELCONSUMED]  DEFAULT ((0)),
	[DriftPoints] [bigint] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_DRIFTPOINTS]  DEFAULT ((0)),
	[PrizeCredits] [bigint] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_PRIZECREDITS]  DEFAULT ((0)),
	[MileagePointsEarned] [bigint] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_MILEAGEPOINTSEARNED]  DEFAULT ((0)),
	[MileagePointsUsed] [bigint] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_MILEAGEPOINTSUSED]  DEFAULT ((0)),
	[CarsPurchased] [bigint] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_CARSPURCHASED]  DEFAULT ((0)),
	[ValueofCarsPurchased] [bigint] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_VALUEOFCARSPURCHASED]  DEFAULT ((0)),
	[CleanRaces] [bigint] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_CLEANRACES]  DEFAULT ((0)),
	[PolePositions] [bigint] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_POLEPOSITIONS]  DEFAULT ((0)),
	[FastestLaps] [bigint] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_FASTESTLAPS]  DEFAULT ((0)),
	[RacesFinished] [bigint] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_RACESFINISHED]  DEFAULT ((0)),
	[Wins] [bigint] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_WINS]  DEFAULT ((0)),
	[DaysLoggedIn] [bigint] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_DAYSLOGGEDIN]  DEFAULT ((0)),
	[EntryDate] [datetime] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_ENTRYDATE]  DEFAULT ('1753-01-01'),
	[PhotosTaken] [bigint] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_PhotosTaken]  DEFAULT ((0)),
	[LiveryCreated] [bigint] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_LiveryCreated]  DEFAULT ((0)),
	[PhotoLikes] [bigint] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_PhotoLikes]  DEFAULT ((0)),
	[LiveryLikes] [bigint] NOT NULL CONSTRAINT [DF_GTSACHIEVEMENTHISTORY_LiveryLikes]  DEFAULT ((0)),
 CONSTRAINT [PK_GTSACHIEVEMENTHISTORY] PRIMARY KEY CLUSTERED 
(
	[AchievementHistoryId] ASC,
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [GTS_AchievementHistory_CleanRaces_955D8] ON [dbo].[GTS_AchievementHistory]
(
	[CleanRaces] ASC
)
INCLUDE ( 	[ProfileId],
	[EntryDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_AchievementHistory_DistanceDriven_907E7] ON [dbo].[GTS_AchievementHistory]
(
	[DistanceDriven] ASC
)
INCLUDE ( 	[ProfileId],
	[EntryDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_AchievementHistory_EntryDate_057A1] ON [dbo].[GTS_AchievementHistory]
(
	[EntryDate] ASC
)
INCLUDE ( 	[AchievementHistoryId],
	[ProfileId],
	[PlayTime],
	[DistanceDriven],
	[TimeDriven],
	[FuelConsumed],
	[DriftPoints],
	[PrizeCredits],
	[MileagePointsEarned],
	[MileagePointsUsed],
	[CarsPurchased],
	[ValueofCarsPurchased],
	[CleanRaces],
	[PolePositions],
	[FastestLaps],
	[RacesFinished],
	[Wins],
	[DaysLoggedIn]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_AchievementHistory_FastestLaps_EACC5] ON [dbo].[GTS_AchievementHistory]
(
	[FastestLaps] ASC
)
INCLUDE ( 	[ProfileId],
	[EntryDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_AchievementHistory_LiveryCreated_90F03] ON [dbo].[GTS_AchievementHistory]
(
	[LiveryCreated] ASC
)
INCLUDE ( 	[ProfileId],
	[EntryDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_AchievementHistory_LiveryLikes_63242] ON [dbo].[GTS_AchievementHistory]
(
	[LiveryLikes] ASC
)
INCLUDE ( 	[ProfileId],
	[EntryDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_AchievementHistory_PhotoLikes_BAEE6] ON [dbo].[GTS_AchievementHistory]
(
	[PhotoLikes] ASC
)
INCLUDE ( 	[ProfileId],
	[EntryDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_AchievementHistory_PhotosTaken_3AF0E] ON [dbo].[GTS_AchievementHistory]
(
	[PhotosTaken] ASC
)
INCLUDE ( 	[ProfileId],
	[EntryDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_AchievementHistory_PolePositions_24190] ON [dbo].[GTS_AchievementHistory]
(
	[PolePositions] ASC
)
INCLUDE ( 	[ProfileId],
	[EntryDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_AchievementHistory_ProfileId_93E8D] ON [dbo].[GTS_AchievementHistory]
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_AchievementHistory_RacesFinished_AF856] ON [dbo].[GTS_AchievementHistory]
(
	[RacesFinished] ASC
)
INCLUDE ( 	[ProfileId],
	[EntryDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [GTS_AchievementHistory_Wins_5BB9D] ON [dbo].[GTS_AchievementHistory]
(
	[Wins] ASC
)
INCLUDE ( 	[ProfileId],
	[EntryDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
